[2020-10-31 09:39] reloxx13 opened #337 "New driver support (version 457.09)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 457.09
- GPU Model: 1060
- OS: win10x64
- [x] I'm willing to participate in testing of new patch version

selfmade:
[patch_win10_geforce_457_09.zip](https://github.com/keylase/nvidia-patch/files/5468837/patch_win10_geforce_457_09.zip)

[2020-10-31 09:51] Snawoot commented on #337
This one was already added 2 days ago via PR #335.

[2020-10-31 09:51] #337 closed

[2020-10-31 09:54] reloxx13 commented on #337
ahh damn, i just checke closed issues for this version :p

[2020-10-31 17:42] #333 closed

[2020-11-01 10:55] MartLeib opened #339 "Question: Has anyone tested RTX 30 series?"
Hi!

I'm wondering, has anyone tested RTX 30 series with this patch already? At the moment I use RTX 2060 SUPER in the streaming server which can transcode 11 "streams" which all of them have 1080p50, 720p50, 480p50, 360p50 feeds (44 streams in total).

Now I'm wondering, will RTX 3070, for example, increase the number of streams I could transcode? It seems to have the same generation of NVENC chi

[2020-11-02 10:27] arich1055077 opened #341 "Is it possible to get a video walkthrough for Docker patch?"
Hello,

My question is: ...

I was wondering if it is possible to get a video walkthrough on how to implement this patch in dockers. Specifically, on unraid with a plex docker. I was using this patch for windows, but recently decided to switch to a docker for plex. However, I am brand new to anything with dockers and trying to understand how to actually implement the steps previously mentioned has

[2020-11-11 14:05] Siyabent commented on #339
Hello,

I just tried this with my new Asus Geforce RTX 3090 TUF-RTX3090-O24G card.

The limit bypass works as expected.

I tried encoding 17 1080p streams with 3500-4000 bitrate.

These are the stats i got:

5982MB/24265MB - 16%

Hope this helps!

[2020-11-11 14:26] MartLeib commented on #339
Thanks! Was the 17 streams the limit (stability issues etc) or dis you just did not test more?

[2020-11-11 14:29] Siyabent commented on #339
Definitely not the limit. I had over 20 streams running super stable but took a screenshot of the statistics when i had 17 streams running!

[2020-11-11 14:31] MartLeib commented on #339
Thank you very much!

[2020-11-11 14:31] #339 closed

[2020-11-14 11:27] tingvarsson opened #343 "New driver support (version Windows 457.33, Linux 455.46.01)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 455.46.01
- GPU Model: RTX 2080 TI
- OS: Arch
- [x] I'm willing to participate in testing of new patch version

[2020-11-17 19:24] #343 closed

[2020-11-25 19:54] BenRulez opened #347 "offset wrong"
Tried patching my GTX 750ti drivers, get offset error

Offset [2F3BA] Wrong...
set 0xCC -> I expected 0X8B

Driver 457.30

[2020-11-25 20:03] Snawoot commented on #347
Hi!

Please check following:

* You are using correct patch version for your drivers version.
* You are using appropriate .1337 file for .dll file.
* You have checkbox "Fix offset" set.

If nothing helps, please attach .dll file you're trying to patch and .1337 file you're using for it.

[2020-11-25 20:22] BenRulez commented on #347
Heres the files, i used the 1337 for 457.30
[Patch Files BenRulez.zip](https://github.com/keylase/nvidia-patch/files/5599105/Patch.Files.BenRulez.zip)

[2020-11-25 20:53] Snawoot commented on #347
This .dll file definitely doesn't belongs to 457.30. Looks more like 431.XX series.

Check your driver version with nvidia-smi command:

https://stackoverflow.com/questions/57100015/how-do-i-run-nvidia-smi-on-windows
https://www.youtube.com/watch?v=yCMFygZ5SBA&feature=youtu.be

If there are some artifacts of older driver, try to remove it with Display Driver Uninstaller tool.

[2020-11-28 01:54] #347 closed

[2020-12-02 21:42] pengc99 commented on #334
Hi, I don't think OP is talking about PCIe passthrough using KVM, I think he's talking about the use of SR-IOV for segmented GPU allocations to VMs. This allows you to break down one GPU into several smaller virtual GPUs, each of which is then passed through to a VM.

nVidia does already have this feature, mainly called vGPU and is used in the Grid line of products, but is disabled in consumer GeF

[2020-12-02 21:47] Snawoot commented on #334
@pengc99 Hi! Thanks for clarification!

[2020-12-04 10:38] damajor commented on #334
For reference:
[Nvidia Grid](https://www.nvidia.com/en-us/data-center/buy-grid/)
[Nvidia Grid License documentation](https://docs.nvidia.com/grid/ls/latest/grid-license-server-user-guide/index.html)

[2020-12-04 13:49] h1nk commented on #334
I'd be willing to put forward some money on a bounty for this

[2020-12-09 18:06] chkuendig opened #350 "New driver support (i386 nvfbc libraries)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 450.80.02
- GPU Model: Quadro P400
- OS: Ubuntu 20.04
- [x] I'm willing to participate in testing of new patch version

Do you think it would be possible to also provide patches for i386 versions of the nvfbc libraries?

[2020-12-10 09:00] Snawoot commented on #350
Hi!

I'm not going to handle any i386 libraries for Linux for because:

1. It's multiple decades old legacy.
2. There is no reasons to use i386 on Linux except for proprietary for which see (1).
3. Linux distros are dropping i386 support (Ubuntu dropped 32-bit edition).
4. I can't allocate additional resources for this stream of drivers. I'm quite busy these days and I don't even have working GPU

[2020-12-11 15:46] chkuendig commented on #350
Thanks for the fast answer. I completely understand that this might not make much sense to invest in.

For everybody else trying to play around with i386: I hacked a quick lib together yesterday night which works using LD_PRELOAD  for any architecture (tested with the SDK samples): https://gist.github.com/chkuendig/fc26f4fe0b378012c697fd46dad1a73d

[2020-12-11 16:13] #350 closed

[2020-12-15 16:01] vercas opened #353 "Fails to apply on Ubuntu 18.04 with cuda-drivers version 455.45.01-1"
**Describe the bug**
`./patch.sh` exits with error code 9 and doesn't print anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Update Ubuntu 18.04
2. Install `cuda-drivers` which is at version `455.45.01-1` now
3. Run `./patch.sh`

**Expected behavior**
At least some error message to tell me what is wrong.

**Output listings**
No output, just error/status code 9 after the script exits

[2020-12-15 16:04] Snawoot commented on #353
Hi!

Please run `bash -x patch.sh` and post it's output here.

[2020-12-15 16:07] vercas commented on #353
[code]

[2020-12-15 16:22] Snawoot commented on #353
Ah, you have no actual GPU in the image where you actually applying patch.

Try to override driver detection with `-d` option like this: `./patch.sh -d 455.45.01`

[2020-12-15 16:36] vercas commented on #353
That worked, cheers!
It would be handy to have some error message describing the problem and how to work around it.

[2020-12-15 16:45] Snawoot commented on #353
Yeah, error handling for that case is supposed to be there: https://github.com/keylase/nvidia-patch/blob/master/patch.sh#L252-L258

However, it doesn't works because any non-zero exit code of any command causes script to stop since it is running in very strict mode of bash interpreter, so appropriate error message doesn't gets printed.

Maybe you'd like to contribute and fix that?

[2020-12-16 15:54] vercas commented on #353
I can try to find some time to add an error message.

[2020-12-16 16:14] Snawoot commented on #341
Hi!

Take a look at https://www.reddit.com/r/unRAID/comments/dm2phn/unraid_680rc1_wnvidia_remove_2_stream_limit/f4wedux/

Reddit also has a lot of topics regarding this patch, so just search "keylase"

[2020-12-26 17:34] natephysics opened #354 "New driver support (version 465.21)"
Really love the project. I know this might be a difficult ask but I'd be very grateful if you'd consider it. I really need support for multiple NVENC streams with a developmental driver version. I'm happy to beta test the patch. I'm in a situation where I really need support for Tensorflow GPU through the WSL 2 virtual machine and to utilize that feature I need the 465.21 Nvidia driver. The driver

[2020-12-31 00:30] morpheus2n2 opened #355 "New driver support (version 460.89)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 460.89
- GPU Model: GTX 1080
- OS: Windows 10 64bit
- [x] I'm willing to participate in testing of new patch version

This was pushed out on 15/12/2020 seems to be a game ready driver for Quake 2 RTX any chance of support.

[2020-12-31 22:01] ExDominatus commented on #339
@Siyabent Just wondering if you've tried to push it the max and what # of streams you could get? Does it scale linearly with the vram numbers you presented?

@MartLeib Apologies for bumping this issue, but did you ever get your hands on a RTX 3070? or any of the other GPUs. Is there a significant improvement over the 1060/2060. Need to decide on a card to chuck into my server and if the 3070 can d

[2021-01-01 14:50] MRobi1 commented on #341
A video would be great, or even a step by step procedure to follow.

I've got a proxmox server with the driver installed and patched. GPU is passed through to an lxc container, and then docker running in the lxc container. I then have Emby, Plex and Unmanic taking advantage of the GPU, but even with the patch applied to the proxmox host, I'm limited to 3 streams in the docker container.

Looking a

[2021-01-01 19:06] Snawoot commented on #341
Yep, in Docker case you basically need to just patch host and you are done.

However there are some [cases](https://github.com/keylase/nvidia-patch/issues/131) when you can't patch docker host because you don't own it or something like this. For that reason [this paragraph exists](https://github.com/keylase/nvidia-patch#docker-support).

[2021-01-01 19:06] #341 closed

[2021-01-01 19:08] Snawoot commented on #310
Nobody seem to be inclined doing this. Sorry, looks like it's not going to happen.

[2021-01-01 19:08] #310 closed

[2021-01-01 19:13] Snawoot commented on #334
Looks like nobody inclined to look into this. Sorry.

[2021-01-01 19:15] #317 closed

[2021-01-01 19:57] Snawoot commented on #355
It were released two weeks ago, but somehow I forgot to regenerate win/README.md. Sorry about that.

[2021-01-01 19:57] #355 closed

[2021-01-01 20:07] morpheus2n2 commented on #355
Lol no worries Thank you :D

[2021-01-02 01:50] #353 closed

[2021-01-02 02:02] Snawoot commented on #354
Usually it's pretty easy to introduce support for new Windows driver version with an automation script we have: https://github.com/keylase/nvidia-patch/tree/master/win/tools/autopatch

Problem is: it doesn't work for 465.21. It seems pattern has changed, and probably at some point all future versions will be affected as well. In addition, I don't have GPU right now to debug this and update pattern

[2021-01-03 13:51] natephysics commented on #354
Understandable. If there is some way I can help I'm happy to.

[2021-01-03 14:26] Snawoot commented on #354
@natephysics How can I contact you directly? My contacts are available on [my profile page](https://github.com/Snawoot/).

[2021-01-03 16:47] h1nk commented on #334
@Snawoot can this issue continue to be held open? While this issue isn't very relevant to the content of the repository it's a topic that isn't given much discussion as far as reverse engineering and I think giving it as much viability as possible is important. Perhaps this issue could even be pinned? It's only a matter of time until the right person is to try to attempt to tackle this.

[2021-01-03 16:53] h1nk commented on #334
I want to begin cracking the Nvidia vGPU license server in the near future as a start in combatting this issue. I unfortunately don't own any of the vGPU "supported" cards. If there are any Quadro RTX owners please contact me

[2021-01-03 17:21] Snawoot commented on #334
@h1nk No problem, reopening issue.

[2021-01-04 07:17] h1nk commented on #334
In order to start reversing I need a copy of the latest NVIDIA vGPU License Server. I currently only have a copy of version `2018.06`, anyone with a copy of the zip/`setup.bin` file please share it so I may take a look at it

[2021-01-04 12:05] damajor commented on #334
As far as I know they provide it free of charge for download with trial licenses limited in time if you have a developer or partner account.

[2021-01-04 12:37] h1nk commented on #334
The requirements for registering an Enterprise account for the limited vGPU evaluation are quite obnoxious (see https://enterpriseproductregistration.nvidia.com/?LicType=EVAL&ProductFamily=vGPU). I'll work on analyzing the 2018 license server I found for now until someone is able to provide the up-to-date server binary

[2021-01-05 16:31] vans163 commented on #334
You recall that these features were in the silicon on olders cards like Maxwell and Kepler?  So even if you enable it in-software/firmware-via-jumping-a-resistor, the GPU hardware will not support it.

Maybe the newer cards use the same silicon but just cut features off at the firmware level.

[2021-01-06 10:23] DavidSpek commented on #334
I’d just like to note my interest in enabling SR-IOV for the RTX 30 series cards as well.

[2021-01-07 21:11] vercas opened #357 "New driver support (version 460.27.04)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 460.27.04
- GPU Model: GTX 1070, GTX 1050Ti, GTX 960
- OS: Ubuntu 20.04
- [x] I'm willing to participate in testing of new patch version

[2021-01-08 14:57] Snoop05 opened #359 "nvfbcwrp: registry entry to allow NvFBC use"
For software like Steam to be able to use NvFBC it is required to also set
`DWORD` value `HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\nvlddmkm\NVFBCEnable` to `1`
(needs reboot / driver restart)

Would be good to mention it in nvfbcwrp readme

[2021-01-08 21:07] Snawoot commented on #359
I don't know what this registry does. Is it same as https://github.com/vparitskiy/enable-disable-NVFBC ?

Can you please edit that README file and submit pull request?

[2021-01-08 22:54] Snoop05 commented on #359
Yes, that tool also sets the value, but i think having it at least a bit documented is better than running some random executable that doesn't come with source.

[2021-01-08 23:00] Snawoot commented on #359
Right, I didn't mean it's better anyhow, I just was curious to understand if it is the same thing or not.

[2021-01-09 00:23] Aluminite commented on #357
To add to this, I tried adding the new version number to the patch.sh file but it didn't make any difference for me. So some further work is probably needed to make the patch work.

[2021-01-09 03:56] rcork opened #361 "New driver support (version 450.102.04)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: [450.102.04
- GPU Model: GTX 1080
- OS: Linux Mint 20 (based on Ubuntu 20.04)

I manually edited patch.sh and copied the line for 450.80.02 and changed the version to 450.102.04 and tested with three hardware transcodes and it works. I'm not great at submitting pull requests so th

[2021-01-09 11:18] jcostom commented on #357
Suggest focusing instead on 460.32.03, as it includes the recent security fixes Nvidia released. That's the current 460 release available from Ubuntu repos as of just now when I updated. Announcement details: https://nvidia.custhelp.com/app/answers/detail/a_id/5142/~/security-bulletin%3A-nvidia-gpu-display-driver---january-2021

[2021-01-09 11:51] #361 closed

[2021-01-09 11:52] Snawoot commented on #359
Fixed via #360

[2021-01-09 11:52] #359 closed

[2021-01-09 12:04] Snawoot commented on #357
Can anyone provide shell access to a Linux box with Nvidia GTX/RTX GPU and 460.32.03 driver? I do not have HW at this moment.

[2021-01-09 12:15] Snawoot commented on #357
460.27.04 and 460.32.03 have same sha256 sum of libnvidia-encode.so, so I guess we can handle them both at once:

[code]

[2021-01-09 12:39] vercas commented on #357
Sadly I cannot provide shell access to my server, but I can help with testing. I've got many terabytes of video to transcode.

[2021-01-09 14:51] Snawoot commented on #357
KVM virtual machine with [GPU PCI passthrough](https://wiki.archlinux.org/index.php/PCI_passthrough_via_OVMF) will work as well.

[2021-01-09 17:49] #357 closed

[2021-01-09 17:52] Snawoot commented on #357
Resolved via #364. Thanks to @vercas for provided lab!

[2021-01-09 20:36] jackz314 commented on #357
What about NvFBC support? Is there a separate process for it?

[2021-01-09 21:02] Snawoot commented on #357
@jackz314

Can't test it right now, but it'll be nice if you can test it. Check out this branch: https://github.com/Snawoot/nvidia-patch/tree/nvfbc_test

[2021-01-10 01:46] jackz314 commented on #357
I just tried it out, and it doesn't seem to work, when I use NvFBC features it says "This hardware does not support NvFBC".

My driver version: 460.32.03
OS: Ubuntu 20.10

[2021-01-10 03:21] Snawoot opened #365 "New driver support (NvFBC component) (version 460.32.03)"
- Nvidia driver version: 460.32.03
- GPU Model: GTX 1080
- OS: Ubuntu 20.10
- [ ] I'm willing to participate in testing of new patch version

From https://github.com/keylase/nvidia-patch/issues/357#issuecomment-757397929 (@jackz314)

[2021-01-10 03:22] Snawoot commented on #357
@jackz314 opened new issue for this: #365

Hope we'll factor this out soon.

[2021-01-10 03:23] Snawoot commented on #365
Branch with current NvFBC patch candidate: https://github.com/Snawoot/nvidia-patch/tree/nvfbc_test

[2021-01-10 03:31] jackz314 commented on #357
Thanks, you can update the issue with the GPU model, I updated it in my comment, although I'm not sure if that's relevant here.

[2021-01-12 18:40] MyTDT-Mysoft opened #366 "Question: MMIO patch for 32bit"
Hello,

i see that you are doing patched for the 32bit version of nvidia drivers...
i wanted to know about the possibility of patching the MMIO issue that cause the driver to not work on "windows sever 2008" (32bit) or... "windows 7 32bit with PAE >64gb patch"

i'm a (low level programmer myself) and i would love to even help generating such if possible, altough i didnt worked on a video driver be

[2021-01-12 19:36] Snawoot commented on #366
Hello!

Here is some background on this subject.

We cover only x86_64 drivers. 64-bit drivers for Windows contain 32-bit libraries for compatibility with legacy apps, so we cover that too. This way apps like Plex-ffmpeg work too.

As far as I know Nvidia discontinued releases of driver packages for 32-bit x86 systems two years ago. Last driver version for x32 Windows 7 version was [391.35](https:

[2021-01-12 19:36] #366 closed

[2021-01-15 22:23] Saentist opened #367 "Question: nvidia deb/rpm repo ?"
Hello,

Some side question
https://us.download.nvidia.com/tesla/450.80.02/nvidia-driver-local-repo-ubuntu1804-450.80.02_1.0-1_amd64.deb
https://us.download.nvidia.com/tesla/450.80.02/nvidia-driver-local-repo-rhel7-450.80.02-1.0-1.x86_64.rpm
https://us.download.nvidia.com/tesla/450.80.02/nvidia-driver-local-repo-rhel8-450.80.02-1.0-1.x86_64.rpm
is someone use/patch/repack thouse DEB/RPM files?

[2021-01-16 12:39] #365 closed

[2021-01-16 12:58] Snawoot commented on #367
Hello,

I think it's not OK to distribute modified binaries due to legal reasons. Even if someone does repacking, I'd like to not have links anywhere near this repo.

[2021-01-16 12:58] #367 closed

[2021-01-17 15:21] imtrobin commented on #334
how to contact?

[2021-01-18 08:11] h1nk commented on #334
@imtrobin if you have a RTX 6000/8000 you can DM me on [gitter](https://gitter.im/nvidia-patch/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link)

[2021-01-27 17:38] didyouexpectthat opened #375 "461.40 - failed to patch nvencodeapi.1337"
Windows 10 x64
Upgraded to 461.40.
nvencodeapi64.1337 patched successfully.
nvencodeapi.1337 failed to patch.
![image](https://user-images.githubusercontent.com/1329077/106030630-37ea0d00-6083-11eb-8ca7-566dc17dfcca.png)
Tried reinstalling the original driver and repatching and also rebooting the system but both produce a failed to patch message.

[2021-01-27 17:49] didyouexpectthat commented on #354
Hi @Snawoot, I can contact you on Telegram. I have 2080 Ti and Windows and can install 465.21.

[2021-01-27 18:18] Snawoot commented on #375
Usually if .1337 file doesn't match to patched file it shows other error with expected bytes which differ.

I suspect it's some generic error with file access. Please check that patched file is not held by some running application (e.g. stop everything what may use it and retry).

[2021-01-27 19:40] #375 closed

[2021-01-27 20:28] #354 closed

[2021-02-25 20:52] wronglebowsk opened #383 "Question: 4k 4:4:4 NVENC Limit ?"
Hello,

My question is: Hello, I was recently testing a GTX 1650 with the NVENC patch applied. 1080p and 4k SDR content worked correctly, but 4k HDR content seemed limited to two streams. I have a 4GB card so there was VRAM left to utilize. Streams after 3 still appeared when running "nvidia-smi" but had reduced usage and there was a heavy load on the CPU. Is there perhaps another limit for 4k 4:4

[2021-02-25 21:05] Snawoot commented on #383
Hi!

Not sure if it's anyhow related to this patch and software restrictions imposed by driver. Check this chart: https://www.elpamsoft.com/?p=Plex-Hardware-Transcoding

It indicates 3 streams for GTX 1650. Can't say for sure why.

[2021-02-25 21:05] #383 closed

[2021-02-27 16:51] badsen opened #385 "Unlock Nvidia MX NVENC"
@keylase have you looked into this?
Wiki states:
In laptop graphics, NVIDIA MX Graphics do not include NVENC as they are based on a Maxwell-generation GM108 or a Pascal-generation GP108 chip. [12] The GeForce MX350 is a GP107 chip whose NVENC encoder is disabled during manufacture.

[2021-03-07 20:56] zimme commented on #162
@DeftNerd Did you ever end up putting together any apt/dpkg hook scripts for this?

[2021-03-17 03:39] Anuruddha094 opened #388 "Nvidia GEFORCE GAME READY Driver 461.92 doesn't work with patch"
Hi I have installed Nvidia Geforce Game Ready Driver 461.92 for my MSI Geforce GTX Armor 1660 OC and installed the relavent x64 patch. I'm running my Plex server on Windows 10 Pro with latest updates. But unfortunately I can't get more than 3 hardware transcode streams. Forth stream is doing software transcoding. It worked perfectly until 461.72 patch.

Please help me.

Thank you

[2021-03-17 13:41] Snawoot commented on #388
Looks like autopatch script is picking up wrong sequence. Unfortunately, I don't have any working nvidia GPU to test and debug it.

[2021-03-17 13:44] #385 closed

[2021-03-17 14:06] Anuruddha094 commented on #388
@Snawoot Thank you very much for your reply. I have completely uninstalled and reinstalled Nvidia drives. But still No luck. I guess your explanation is correct. Shall I install the previous 461.72 drives until this issue sorted.

cheers

[2021-03-17 15:13] Snawoot commented on #388
Yes, I think it is the only option for now.

[2021-03-17 15:17] Snawoot commented on #388
For everyone else: we need to confirm that issue. Can someone also please try patches with 461.72 driver?

[2021-03-17 15:22] Anuruddha094 commented on #388
@Snawoot Hi I downgraded my Nvidia drivers for 461.72 version. But still I couldn't get more than 3 hardware transcoding in Plex. Previously it worked with 461.72 but It wasn't anymore. Yesterday I installed a latest update for windows 10 pro 20H2 build KB5001567

My current server specs as follows:
Plex server: plex 1.22.1.4200-c073686f2
Windows 10 Pro 20H2: 19042.868

I can't understand what cau

[2021-03-17 15:28] Snawoot commented on #388
@Anuruddha094 that may mean Windows ships it's own version of Nvidia driver. Try using some tool like [Display Driver Uninstaller](https://www.guru3d.com/files-details/display-driver-uninstaller-download.html). It may clean up existing drivers and if I remember correctly allows to prevent Windows install it's version of driver in future.

[2021-03-17 15:49] Anuruddha094 commented on #388
@Snawoot I will try to install that tool. Today what I did is, I completely uninstalled and reinstall drivers with Nvidia installer with fresh installation option. I think there isn't any windows drivers installed on Nvidia card. Please have a look my photos.

thank you.
![plex-hw-transcoding-nividia-issue-01](https://user-images.githubusercontent.com/31022230/111496538-4de98500-8738-11eb-9fc0-746

[2021-03-17 16:03] Anuruddha094 commented on #388
@Snawoot Thank you very much for the clarification. Do you think Plex server doesn't cause any problem in HW transcoding? or it just windows generic drivers conflict with Nvidia drivers cause this issue. It looks like Geforce 1660 has Nvidia drivers installed.

Shall I follow the instruction explained on that thread?

cheers

[2021-03-17 16:12] Snawoot commented on #388
I can't know for sure. Anyway Plex support is out of scope for us.

Not generic driver. Windows distributes Nvidia drivers via Windows Update channel as well. That may be the case.

[2021-03-17 16:19] Anuruddha094 commented on #388
@Snawoot I already started  thread in Plex too [https://forums.plex.tv/t/plex-hardware-transcoding-failed-with-nvidia-geforce-1660-with-geforce-game-ready-driver-461-72-patched-drivers/701218](url)

I used to do windows update while Nvidia patch drives installed and never had any issues until yesterday. I believe yester windows update KB5001567 did something to break Nvidia update process. I reall

[2021-03-19 16:26] #388 closed

[2021-03-20 00:16] ValZapod commented on #334
And **mining** hack available in https://archive.org/download/470.05-gameready-win-10-dch-64bit-international/470.05-gameready-win-10-dch-64bit-international_archive.torrent

Hehe.

[2021-03-20 00:18] ValZapod commented on #383
What it has to do with YCbCr 4:4:4? HDR is just PQ or HLG transfer. HDR HEVC file can be even 8 bit or there is a possibility to have BT.2020 colorspace in SDR, BT.2020 is SDR only, BTW. HDR was defined in BT.2100.

[2021-03-20 00:21] ValZapod commented on #365
Did you see https://github.com/trevor403/get-priv-data-gfe, BTW? Any comments?

[2021-03-20 00:46] Snawoot commented on #365
@ValZapod

Never seen before, but I think our [nvfbcwrp](https://github.com/keylase/nvidia-patch/tree/master/win/nvfbcwrp) already provides similar function, allowing to dump magic from existing installation (and even replay it for any app). See [Advanced Usage](https://github.com/keylase/nvidia-patch/tree/master/win/nvfbcwrp#advanced-usage) section of it's README file for more details.

Brief com

[2021-03-20 15:04] wronglebowsk commented on #383
Nvidia's NVENC Matrix documents list these features out for support differently. 8k HEVC and 4:4:4 HEVC are much newer in their support and only work on newer GPUs. I'm curious if using these encoding functions are limited in different ways than the older ones, making this patch not applicable to them. I've recently acquired a RTX 3080 which I will try and test on.

[2021-03-20 17:26] ValZapod commented on #383
I have a 2080 Ti, it has tje same HEVC engine with 4:4:4 stuff. The only dufference is AV1. So I can test it too if you want.

[2021-03-20 20:42] zach78954 commented on #334
Do you still need a copy, I have the most current one, it appears to be running a Java based FlexNet License server.

Let me know how I can help, I’d really like not to have to pay for VGPU license for my homelab :/

[2021-03-21 14:46] h1nk commented on #334
@zach78954 That would definitely be helpful, I currently only have the `NVIDIA-ls-linux-2018.06.0.24304595.zip` & `NVIDIA-ls-linux-2020.05.0.28406365.zip` files. Next weekend I will definitely set aside some time to start reversing the server finally.

[2021-03-22 01:07] Anuruddha094 commented on #388
**Hi I'm back. I found the solution for the problem.** Actually Plex transcoder uses 32bit version of nvencodeapi.dll located in `C:\WINDOWS\SysWOW64\nvencodeapi.dll` but I patched only `C:\WINDOWS\system32\nvencodeapi64.dll` file. After I patched  `C:\WINDOWS\SysWOW64\nvencodeapi.dll`,  I can do more than 3 HW transcodes without any issues. Still I'm using **461.72** of Nvidia Game Ready drive.

[2021-03-22 15:24] wronglebowsk commented on #383
I can confirm this is just a weird VRAM limit with the 1650 4GB. Testing with a 1080 Ti and 3080 I had no issues going far past 2 streams. I suspect the card is reserving some amount of VRAM for other use cases which causes this to be limited to 2 streams despite having enough VRAM for the third.

[2021-03-23 09:30] hugomon opened #391 "Correction for reg command"
Should be `REG ADD "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\nvlddmkm" /v NVFBCEnable /d 1 /t REG_DWORD /f`

(error with SSYSTEM)

[2021-03-23 09:38] #391 closed

[2021-03-23 09:39] Snawoot commented on #391
Thanks! Fixed.

[2021-03-26 02:06] zach78954 commented on #334
I've [uploaded a bundle](https://mega.nz/file/NtYjxSYK#XDCiW-a6SPNrGtec7bG-lE_CQ8IdKKYjRj3eLDlp7bg) of the latest server and drivers, hopefully that helps.

If you can find a solution I'll happily buy you a case of appreciation beer!

[2021-03-26 03:17] h1nk commented on #334
@zach78954 Hey, thanks for the server files, do you have the Linux version of the LS? I only have a Linux machine currently

[2021-03-26 03:49] zach78954 commented on #334
@h1nk, NVIDIA-ls-linux-2020.05.0.28406365 is actually the newest linux server, I was in the process of uploading it but then I realized its the same version you have so🤷

[2021-03-26 17:10] h1nk commented on #334
@zach78954 In the archive I only see the Windows ZIP containing the setup.exe file:
[code]

[2021-03-26 21:25] zach78954 commented on #334
You said you had the 2020 ls server for Linux. That’s the newest one. I can upload it if you want another copy.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: h1nk ***@***.***>
Sent: Friday, March 26, 2021 10:10:35 AM
To: keylase/nvidia-patch ***@***.***>
Cc: zach78954 ***@***.***>; Mention ***@***.***>
Subject: Re: [keylase/nvidia-patch] Reverse engineering ini

[2021-03-26 21:33] h1nk commented on #334
@zach78954 sorry, I misread what you said, the Linux server version did not change since the one I have

[2021-03-26 22:22] zach78954 commented on #334
Let me know if I can help in any other way!!

[2021-04-04 02:05] olealgoritme commented on #334
Out of curiosity, has anyone tried flashing a A40 ampere vbios onto a 3090?

[2021-04-04 09:53] Saentist commented on #334
Without resistors movement?

[2021-04-05 19:41] Steve0929 commented on #334
I believe there is some experimental code to try to enable vgpu in consumer GeForce GPUs here: https://github.com/DualCoder/vgpu_unlock

[2021-04-07 03:20] mkayze opened #395 "What does this mean?"
Does this mean that the patch isnt working?

"Detected nvidia driver version: 460.67
Backup exists and driver file differ from backup. Skipping patch."

[2021-04-07 07:16] Snawoot commented on #395
It means patch already applied

[2021-04-07 07:16] #395 closed

[2021-04-09 15:39] h1nk commented on #334
Someone should upload all versions of the vGPU driver they have access to

[2021-04-09 22:59] zach78954 commented on #334
I uploaded all the complete 460 driver version for ESXI.

This there something else or a specific version you need?

@h1nk any luck on the licensing?

[2021-04-09 23:59] h1nk commented on #334
@zach78954 hi, I still haven't taken a look at cracking the server yet besides looking over some decompilations, but will definitely try at it soon. Using the vGPU unlocker I would like to try to partition my single GeForce card for a QEMU/KVM passthrough. If you have the drivers that would work with KVM that'd be sweet

[2021-04-10 00:29] zach78954 commented on #334
If I have some time tonight, I’ll upload the Linux KVM driver pack.

Best of luck on the cracking!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: h1nk ***@***.***>
Sent: Friday, April 9, 2021 4:59:58 PM
To: keylase/nvidia-patch ***@***.***>
Cc: zach78954 ***@***.***>; Mention ***@***.***>
Subject: Re: [keylase/nvidia-patch] Reverse engineering initiative for ena

[2021-04-10 03:29] zach78954 commented on #334
@h1nk here is the [KVM Driver Link ](https://mega.nz/file/EppEHTIR#bI7dXKv4RLRezL4zQ6AMKC26-_hrb9TwU1BXneQnSA8).

[2021-04-11 00:42] WeebDataHoarder commented on #334
Here's a folder with all that has been collected so far, and a few more coming up soon (slow connections).

https://mega.nz/folder/xhxmFIwS#plgmwukDdylDAKUa_-qygg

Will try to update the list below when contents change, no promises there :)

## Current contents:

### GRID Driver
[code]
### License Server
[code]

### Tools
[code]
(Cannot find current _NVIDIA-gpumodeswitch-2020-01.zip_ so if anyone

[2021-04-13 00:00] supermanz87 opened #397 "Window's 10 x64 Driver Version 470.05"
Hi, requesting a few new driver's to the support list.

Window's 10 x64 Driver Version 470.05 WDDM3.0  "this driver version was the one that unlocked mining for the 3060 rtx card's, nvidia removed from there site but can be located easly"
Window's 10 x64 DEV Driver Version 470.14  WDDM3.0
Window's 10 x64 DEV Driver Version 470.15 WDDM3.1

More nvidia driver based information which could help incre

[2021-04-16 14:09] cjhih456 opened #400 "GPU decoder unit has been locked on 100% usage"
Hello,
I hope to clearly fix it.
please, give some answer on my questions.
I watched this status on long time. but, i couldn't find clean answer with my codes...
Could you add more answer on this ticket??

https://forums.developer.nvidia.com/t/gpu-decoder-unit-has-been-locked-on-100-usage/175430

[2021-04-16 14:29] vans163 commented on #400
Why are you posting an unsupported patch to official nvidia forums and asking for help?

It is like going into a Mcdonalds and asking for help with your Wendies order that they forgot to give you plum sauce.

Post results of dmesg, journalctl, is there any warnings / driver|kernel faults right before this happens from the nvidia driver?

[2021-04-16 15:21] cjhih456 commented on #400
it is a kind of error??
[code]

[2021-04-16 16:09] cjhih456 commented on #400
When GPU locked status is look like it
htop status
![image](https://user-images.githubusercontent.com/42570411/115051477-d3b74680-9f17-11eb-9a7b-a3f2888ff8b9.png)
nvidia-smi
![image](https://user-images.githubusercontent.com/42570411/115051832-34df1a00-9f18-11eb-8468-8a33126820ce.png)
journalctl of locked timing( locked on 12:05)
![image](https://user-images.githubusercontent.com/42570411/11505286

[2021-04-16 16:31] cjhih456 commented on #400
patch version: b9d367d821f3175f9290053f72f218444944abd7

[2021-04-16 19:28] Saentist commented on #400
@cjhih456 what say NVTOP
https://github.com/Syllo/nvtop

[2021-04-17 02:00] cjhih456 commented on #400
![image](https://user-images.githubusercontent.com/42570411/115098596-d479c800-9f6b-11eb-89b2-8d768d45f0cf.png)
I was killed ffmpeg process...
Cuz of convert server health
I will be post a image again, when i show that status

[2021-04-17 07:24] Saentist commented on #400
What OS?
What driver version is used
What processor?
What motherboard?
how many streams you convert per gpu?
Why the temperature is so high, why both GPUs are on x8 and not x16?

[2021-04-17 11:56] cjhih456 commented on #400
OS: Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-66-lowlatency x86_64)
Driver Ver: NVIDIA-SMI 460.32.03
Driver Version: 460.32.03
CUDA Version: 11.2
processor: Intel(R) Core(TM) i5-10400F CPU @ 2.90GHz
mother board: ProArt Z490-CREATOR 10G
PSU: SuperFlower SF-850F14HG Leadex III GOLD
SSD: Samsung PM981a M.2 2280 512GB
Max streams:
That is not a fixed. but maximum gauge are have.
[code]

After reload that t

[2021-04-17 18:29] Saentist commented on #400
With this cpu you have under performance
[code]
you have 2xGpu's with need 32 lines also you have other controlers with also use pci-e lines
maybe [someone of this](https://ark.intel.com/content/www/us/en/ark/search/featurefilter.html?productType=873&1_Filter-SocketsSupported=3841&3_NumPCIExpressPorts-Min=20)  or Dual CPU intel platform

**sudo nvidia-smi -r** isnt helping?
or
[code]

[2021-04-18 02:04] flameboi900 opened #401 "if my gpu usage is at 90% I drop frames/encoder overload"
Hello,

I love this NVENC patch as it lets me record at the same time while streaming with the same PC with little to no performance dips and drops. But recently I have noticed if my gpu usage is over 90-99% on 3d I drop frames/encoder overload is there a reason for this? as I do remember it working in the past when I used it before with other games and it worked fine but some games that pin the g

[2021-04-18 04:52] cjhih456 commented on #400
I'll try when that happends are came up, again.
I was tried `sudo nvidia-smi -r`
But was same. no changes.

[2021-04-18 07:39] Snawoot commented on #401
Hello!

It does only allow multiple nvenc streams, no hardware performance emerges out of nowhere.

Framedrop may occur for two reasons:

1. Encoder doesn't catching up with video source (performance).
2. FPS mismatch between source video streams and transcoded stream. E.g. conversion of 30 fps video to 24 fps will have frame drop.

[2021-04-18 07:39] #401 closed

[2021-04-18 16:11] flameboi900 commented on #401
ah makes sense I understand maybe I will just turn a few settings down I mean I was trying really hard to push it recording 1080p 60 at a 15,000 bitrate and streaming in a 6000 bitrate may have just gone a bit overboard I will try to drop them down maybe thanks.

[2021-04-18 16:28] Saentist commented on #401
Learn how to give information
Hardware, Software, reproduction case

Before all, read what can do your GPU
https://www.elpamsoft.com/?p=Plex-Hardware-Transcoding

[2021-04-30 12:39] 1011025m opened #403 "NVIDIA GameStream does not work if the driver is patched"
I use Moonlight to mirror my computer screen to my mobile device. What I realize is, if the patch is applied, it will output errors on the Moonlight client (on my mobile device) instead of working.

It would be great if this behavior is put up in the README.md as a disclaimer.

**To Reproduce**
1. Configure Moonlight Game Streaming
2. Attempt to connect on client

**Expected behavior**
The compute

[2021-04-30 13:33] Snawoot commented on #403
Have you applied skip_sig_check.reg to your system registry?

[2021-04-30 13:41] 1011025m commented on #403
Oops, seems like I have to check that out.

[2021-04-30 13:51] 1011025m commented on #403
Okay, it works.... sorta. For some reason, it's mirroring my side monitor rather than my main. It might be because of the numbering of the monitors (my side monitor is no.1). However, it does not perform like this without the patch. My main monitor would be mirrored to my mobile device without issues.

I'm not too sure if this is a "me problem", I've even tried swapping ports on the graphics card.

[2021-04-30 14:03] Snawoot commented on #403
Regarding documentation, there is explicit notice for moonlight users:

![moonlight notice](https://user-images.githubusercontent.com/3524671/116704952-ad43e180-a9d4-11eb-80f7-9389560e2a1a.png)

I don't see what is connection between NVENC session instantiation logic which patch affects and video grab source. I advise to rollback patch and do tests again. If there is a difference, file a new issue

[2021-04-30 14:03] #403 closed

[2021-05-18 19:59] S33V33 opened #406 "1080 Ti no longer unlocks resizable bar"
I have 2 Nvidia cards RTX 3090 and a GTX 1080 Ti. As of the past 2 driver releases, your unlock patch is no longer working on the 1080Ti. This is the card: https://www.gigabyte.com/us/Graphics-Card/GV-N108TAORUS-X-11GD#kf

Steps to reproduce the behavior:
Installed the past 2 releases multiple times but no unlock. If I install driver version 466.11 it will unlock.

Both PC's have Win 10X64 PRO 20H

[2021-05-19 16:22] Saentist opened #407 "Question: Hypervisor detection ?"
Hello,

Is there a way to remove Hypervisor detection for non Quadro cards /this is not SR-IOV relayed/
for example real to virtual PC, VMDirectPath I/O pass-through
for VMWARE there is a undescribed way by adding
[code]

[2021-05-19 16:32] Snawoot commented on #407
Hello!

There is a project dedicated to this subject: https://github.com/sk1080/nvidia-kvm-patcher

[2021-05-19 16:32] #407 closed

[2021-05-19 17:38] Saentist commented on #407
Outdated and out of support,
only old version of Windows, and old drives.

[2021-05-28 19:38] DistractedCanuck opened #408 "Does the patch work for the Headless drivers? No need for a gui."
**Environment**
 - OS: [Ubuntu 20.04 Server]
 - GPU model: [GTX 960]
 - Patch commit used: [78f150e6d6d010d1ef6cbffbcb8f56dc5b9d0d66]
 - Nvidia driver version: [460.73.01]
 - Driver typer:  nvidia-headless-460-server
 -
Hello,

My question is does this patch support headless drivers? I am looking to use the patch for hardware encoding on a home server running jellyfin in docker. I have installed t

[2021-05-28 21:40] Saentist commented on #408
Install driver from nvidia site, rest is experimenting.

[2021-05-29 00:58] Snawoot commented on #408
Hi!

Version 460.73.01 is supported. But it seems you're missing package `libnvidia-encode-460`.

[2021-05-29 00:58] #408 closed

[2021-06-05 08:53] Snawoot commented on #406
Can anyone else confirm this?

[2021-06-09 20:45] Snawoot commented on #406
Not confirmed.

[2021-06-09 20:45] #406 closed

[2021-06-09 20:46] #400 closed

[2021-06-09 20:50] Snawoot commented on #397
Too narrow audience needs this. I'm not inclined to work on it.

However, I'll be glad to process pull request from anyone who is. Maybe it's even viable to fund work on this issue on bountysource.

I'm closing this issue for now because we do not expect any actions be taken with it.

[2021-06-09 20:50] #397 closed

[2021-06-11 12:54] S33V33 opened #411 "Used to work, but now doesn't..."
Hi,

Does the PC's bios have anything to do with making this work, or could it stop it from working?

I have 3 PC's, all have AMD ryzen CPU.

PC 1 does not need this patch to get resizable bar working because it has latest gigabyte bios update that enables bar and it has an RTX 3090 card. Mobo is Gigabyte Aorus Elite X570. Works without patching.

PC 2 has 1080Ti GPU and B450M mobo. Both are gigab

[2021-06-11 12:59] Snawoot commented on #411
Duplicates #406

Please do not spam with issues.

[2021-06-11 12:59] #411 closed

[2021-06-11 13:14] S33V33 commented on #406
Sorry, wasn't trying to spam, the github site had something whacky happened so I posted it is questions area instead of here.

I don't see how you can say it is not confirmed when I confirm with every patch release you put out? New driver, new patch release, still doesn't work (when it was successfully working for me in the past). Just because no one else confirmed it doesn't mean it is not happen

[2021-06-11 14:00] Snawoot commented on #406
Sure, I can provide clarifications on this.

There are two things to consider:

1. Issues are tool for project development, not for offering users free support. Therefore issues which affects small amount of users (or even problems specific to single user) are irrelevant. Even in case when there is some issue which affects many users or an other room for improvement, but noone wants to work on it

[2021-06-11 14:11] S33V33 commented on #406
OK, well that was a much better response than simply closing without info added.

Thank you for the closure, I appreciate it.

[2021-07-07 16:07] Snawoot commented on #334
Can [this](https://github.com/DualCoder/vgpu_unlock) help anyhow on given subject? More precisely, this issue: https://github.com/DualCoder/vgpu_unlock/issues/8

[2021-07-21 23:43] sfatula opened #418 "New driver support (version 460.91.03)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 460.91.03
- GPU Model: GTX 2060
- OS: Ubuntu 20.04
- [x] I'm willing to participate in testing of new patch version

This came with ubuntu updates today for me.

[2021-07-21 23:58] #418 closed

[2021-07-23 08:32] manjit24 opened #420 "How do i use NVFBC in obs windows 10? please help."
Hello,

i have nvidia gtx 1050Ti on my laptop geforce 471.41 patched and now i want to capture games in obs using nvfbc because i have very low end processor obs nvfbc plugin is available on linux but not windows. How do i do this can somebody please help me any help will be appreciated thank you.

[2021-07-23 08:48] Snawoot commented on #420
Here is documentation: https://github.com/keylase/nvidia-patch/tree/master/win/nvfbcwrp

[2021-07-23 08:48] #420 closed

[2021-07-24 15:14] kiwec opened #421 "Generated .so file is 32-bit"
I'm on an x86_64 system, but the generated .so file is 32-bit. Because of this, I can't load it from 64-bit programs (unless I'm mistaken).

[code]

**Environment:**
 - OS: Void linux
 - GPU model: GTX 960
 - Patch commit used: c6e9950d8913e11276b3dc85faa6e91d638c4cfa (master)
 - Nvidia driver version: 470.57.02 (same issue on 460.56)

**Additional context**

I'm trying to use [obs-nvfbc](https://

[2021-07-24 15:36] Snawoot commented on #421
Patch doesn't generate any files, it only changes few bytes in 64-bit FBC library already existing in system. Probably obs plugin tries to locate library by wrong path and picks up 32-bit library instead.

[2021-07-24 15:36] #421 closed

[2021-07-24 21:13] kiwec commented on #421
Thanks, you're right, package manager was the issue.

For people that might land on this issue : I had both nvidia-libs and nvidia-libs-32bit installed, but it looks the latter package overwrites libnvidia-fbc.so. Fixed by installing that library manually from the official nvidia .run file.

[2021-07-25 18:08] Tachi107 opened #422 "Not working on Debian 11"
**Describe the bug**
When running `patch-fbc.sh` I get `ERROR: cannot detect driver directory`

**To Reproduce**
Steps to reproduce the behavior:
1. Install `nvidia-driver` and `libnvidia-encode1` from the Debian repos
2. Run `./patch-fbc.sh` (or `bash patch-fbc.sh`) as root

**Expected behavior**
The patch script should find the driver and patch it

**Output listings**
[code]

**Environment (plea

[2021-07-25 18:52] Snawoot commented on #422
In your case you're missing package `libnvidia-fbc1`.

[2021-07-25 18:52] #422 closed

[2021-07-25 19:09] Saentist commented on #422
Debian and Ubuntu propaganding to install his super duper limited diver... this is result.

[2021-07-26 08:59] Tachi107 commented on #422
Thanks @Snawoot! Would a PR adding "install instructions" (the required packages to install) for Debian-based distros be accepted?

[2021-07-26 09:22] Snawoot commented on #422
@Tachi107 for number of reasons we stick with installation of driver from site via .run-file. Namely:

* Because this way we ensure we patching exactly what we've seen in run-file
* Because debian package auto-updates wipe changes made by patch

Patching over debian package is simply out of scope for us. We don't aim to support it.

[2021-07-26 11:33] Tachi107 commented on #422
Okay, thanks for the answer (and for the patch!)

[2021-08-01 07:15] ethaniel opened #423 "Linux please?"
Will there be a patch for us, losers, who use linux machines?

[2021-08-01 07:23] Snawoot commented on #423
It's on the main page of this repo.

[2021-08-01 07:23] #423 closed

[2021-08-01 09:43] ethaniel commented on #423
Sorry for being a dumbass, sent you a $99 donation to your BTC. Thank you so much for this amazing work!

[2021-08-01 19:36] Tachi107 opened #424 "NVIFR patch"
[NVIFR](https://developer.nvidia.com/sites/default/files/akamai/designworks/docs/NVIDIA%20Capture%20SDK%20Programming%20Guide.pdf#page=45) is similar to NVFBC, but allows to capture a single application instead of the full screen.

Does somebody have the time and knowledge to attempt to patch that part of the driver as well? It would be awesome :)

[2021-08-13 02:33] Rain-Main opened #426 "Will your project be helpful to the camera decode?"
Hello,

My question is:

I am now decoding more than 12 cameras by nvidia GPU 1660s. It worked when the camera is less than 12. If more,  the spare threads will break up.

I checked my computer device, the GPU had a lot space to use, the CPU was  the same.

So , I want to know whether the GPU have limit on decoding camera.
 And I have tried your method,  I can patched successful, but it doesn't ra

[2021-08-13 04:52] Saentist commented on #426
NVDEC/NVENC are not equal to GPU performance capabilities.
install https://github.com/Syllo/nvtop and monitor load of GPU.

[2021-08-13 05:28] Rain-Main commented on #426
Thanks for your reply.
I'm working on the win10, I check the usage by explore.

![a0750bf7148b55903e7125ee23d25a7](https://user-images.githubusercontent.com/58506571/129309064-822afa4d-5f95-48af-8735-0d4e53a3acf0.png)

If I patched successed, will the GPU could decode more cameras?

[2021-08-13 06:25] Saentist commented on #426
We talk about different chips in video card
**GPU-Z** can show more info about your GPU
**nvidia-smi** in terminal also

[2021-08-13 21:15] doctorpangloss opened #427 "On Windows, users must be instructed to patch the files in C:\Windows\System32\DriverStore\FileRepository\nvmdui.inf_amd64_ ..."
Otherwise some applications will not load the patch.

[2021-08-15 12:18] Snawoot commented on #427
I suppose it's true for drivers installed by Windows Updates, not by bundle from Nvidia site. Right?

[2021-08-15 12:20] #426 closed

[2021-08-15 12:22] #334 closed

[2021-08-15 14:41] doctorpangloss commented on #427
I'm not 100% sure. I installed from NVIDIA's installer and I have these files. I also have the files in C:/Windows/System32.

Either way you have to patch them. I can see in Process Explorer that they're loaded by an application.

[2021-08-30 08:23] huzhifeng opened #428 "NvFBC patch not working on driver 470.63.01"
Hello,

I tried to enable NvFBC for GTX 1050 with driver 470.63.01, but no success.

GPU model and driver:

[code]

Apply NvFBC patch:

[code]

Run test (NvFBCHwEnc):

[code]

Run test (NvFBCCUDAAsync):

[code]

[2021-08-30 10:49] huzhifeng commented on #428
Actually it works well with 455.45.01

Downgrade the driver to version 455.45.01

[code]

Apply NvFBC patch again:

[code]

Run test:

[code]

[2021-08-31 21:16] doctorpangloss commented on #427
As a followup, anyone using the DCH drivers must update these. Most users will have DCH drivers.

[2021-09-09 05:04] ishansaini opened #431 "Don't see NvFBC source in windows 10"
I have followed steps to patch Nvenc as well as nvfbc on windows but I still don't see NVFBC appearing as a source on OBS. Do I need some additional steps?

[2021-09-15 17:28] JustCryen opened #432 "Unsupported driver"
Hi. the driver version I have is 470.62.02-1 but all recent drivers, and drivers in between (70.57.02 and 470.63.01) have the same variables assigned to them.
Can I safely assume I could manually add my driver version to your script and duplicate the wariables used in other versions?
If it won't work, would I still be able to load the backup?
What it the worst that could happen after such modifica

[2021-09-15 19:08] Snawoot commented on #432
If it won't work, would I still be able to load the backup?

You definitely should try. At most it'll cause ffmpeg crash. In case if it'll not work for you, just rollback: `./patch.sh -r`

In case if it'll work for you, submit PR to add new patch version.

[2021-09-15 19:08] #432 closed

[2021-09-23 17:38] Anuruddha094 opened #435 "Nvidia GeForce Game Ready Driver and Studio Driver 472.12 has released."
Hi I just want to inform Nvidia  GeForce game ready  & Studio driver 472.12 has released  but still I couldn't find the patch for it. I hope it will be available soon.

Thank you for your  wonderful contribution to this project.

cheers

[2021-09-24 10:42] Kung-Foo-Kamel opened #436 "Patch not working on Quadro Driver Version 471.68"
**Describe the bug**
Error while patching nvencodecAPI64.dll, I get "Offset [42BAC] Wrong... Set 0x48 -> I expected 0x8B"

**To Reproduce**
1. Install driver version Quadro 471.68 from the link in the table
2. Run the patch tool linked on the Git page
3. Try to patch the dll file using the nvencodecapi64.1337 linked in the table corresponding to the driver 471.68
4.

**Expected behavior**
To proce

[2021-09-25 13:49] #435 closed

[2021-09-25 13:56] Snawoot commented on #436
Hello!

Such error occurs if patch applied to wrong version of driver. You can check actual version using nvidia-smi utility: https://stackoverflow.com/a/57100016

Sometimes driver installed by nvidia driver package gets shadowed by driver from Windows updates. If such conflict is the case, use [Display Driver Uninstaller](https://www.guru3d.com/files-details/display-driver-uninstaller-download.ht

[2021-09-25 13:56] #436 closed

[2021-09-25 14:02] Snawoot commented on #431
Hello,

I think the only additional step is this: https://github.com/keylase/nvidia-patch/tree/master/win/nvfbcwrp#3rd-party-software

Probably OBS itself also needs some sort of plugin to use NVFBC, but AFAIK it exists only for Linux. I'm not sure, though.

[2021-09-30 23:28] snek100 opened #439 "Question:I'm trying to run this on debian, but it cannot detect the driver directory."
Hello,

My question is:
patch-fbc  detected my driver (470.57.02), but could not detect the driver directory. It worked before on ubuntu, but after hopping to debian it no longer works.

[2021-10-01 01:17] #439 closed

[2021-10-01 08:48] #431 closed

[2021-10-13 09:36] Anuruddha094 opened #440 "GEFORCE GAME READY DRIVER (496.13)"
Nvidia has released GEFORCE GAME READY DRIVER 496.13. Please release a patch for it.

Thank you for your hard work.
cheers

[2021-10-15 12:59] Khazaztroph commented on #440
also wating for a patch on 496.13

[2021-10-15 17:11] cybik opened #441 "New driver support (version 495.29.05)"
**Details about environment**
- Nvidia driver version: 495.29.05
- GPU Model: RTX 3060Ti
- OS: Pop_OS/Ubuntu 21.10
- [x] I'm willing to participate in testing of new patch version

[2021-10-15 17:38] reloxx13 commented on #440
NVIDIA made bigger changes and generating the patch is failing now. Stick to previous version for now. A fix could take time as the origin dev @keylase is inactive and i dont know if @Snawoot is able to fix it.

[2021-10-15 18:06] Anuruddha094 commented on #440
@reloxx13 thank you very much for the update. I was really wonder why patch is delaying. Hopefully @Snawoot will find a away otherwise @keylase has to come back to project for sometime. I hope somebody will figure it out soon. Thank you everyone who is contributing to this project.

Cheers

[2021-10-21 00:03] ajansveld commented on #427
@doctorpangloss I noticed the same, were you able to patch the files in this directory? Seems like it might be harder than just running the patcher as System.

[2021-10-21 00:47] doctorpangloss commented on #427
No, I was not able to patch the DriverStore files. You cannot use this patcher with DCH drivers.

[2021-10-21 09:24] ChenxiangChason opened #443 "Question: NVENC does not work on 2080 with driver version 460.67 (Ubuntu 16.04/x86_64 Intel i9-9900K)?"
Hello,

Sorry to bother. But I think I met the same issue like #406.

I have a **2080 card with driver 460.67** installed on **Ubuntu 16.04/x86_64 (CPU: Intel i9-9900K)**. The libnvidia-encode.so patched succesfully, but the encode session limit is still 3, creating 4th session will return error code 10 (NV_ENC_ERR_OUT_OF_MEMORY). However, everything works fine on another machine with a **1660 car

[2021-10-21 10:04] calvin2021y opened #444 "Failed to load NvFBC64.dll: 0x0000007e"
try https://github.com/keylase/nvidia-patch/tree/master/win/nvfbcwrp ,  get error:

[code]

[2021-10-21 10:57] salmarvasti2020 opened #445 "Can you do a similar driver patch for removing LHR limitation? how do you find out which binary codes to change in the driver"
Hello,

My question is:  Isntr the nvidia driver encrypted?
So how do you apply these patches without tripping the encryption / decryption?

[2021-10-21 13:37] Saentist commented on #445
Hope Nvidia make hardware impossible to do coin digging with GPU.
Cannot found card for transcoding because someone thing will stay billionaire.

[2021-10-21 20:35] Jaybonaut commented on #440
Uh oh.  I hope our heroes will return!

[2021-10-25 10:17] kiwijunglist opened #446 "A little more help with example for using patch with docker and plex"
Hi

I have nvidia-docker2 working with plex

Docker-compose.yaml
[code]

[code]

I am having trouble following your instructions for getting the patched drives working with plex in docker, is it possible to provide a more detailed example using docker-compose?

Thanks
Mike

[2021-10-26 21:39] Stolk3r opened #447 "supp to 496.49?"
hi, i check 2 weeks and dont see supp for the last two drivers, can say what happen?

[2021-10-28 19:58] jak3z opened #448 "New driver support (version 470.82.00)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 470.82.00
- GPU Model: GTX 1050
- OS: Pop OS/Ubuntu 21.04
- [x] I'm willing to participate in testing of new patch version

[2021-10-29 09:38] ajnightmare opened #450 "New driver support (version 460.106.00)"
- Nvidia driver version: [e.g. 410.106.00]
- GPU Model: [e.g. RTX 3090]
- OS: [e.g. Ubuntu 18.04.5]
- [x] I'm willing to participate in testing of new patch version

[2021-10-30 10:25] Anuruddha094 commented on #447
Alright. Then can you please release patches for Windows and Linux Nvidia drivers. Most of the people who is installing those are not coming from technical background. It will be really helpful, if you can release complete parches according to Nividia driver version for Windows and Linux. Good luck on your project. Thank you again for your contribution to the community.

[2021-10-31 14:01] leillo1975 commented on #448
Count me in

[2021-11-01 05:14] fkortsagin opened #451 "New driver support (version 495.44)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: [495.44]
- GPU Model: [GTX 1070]
- OS: [Archlinux]
- [x] I'm willing to participate in testing of new patch version
- Latest NVIDIA driver 495.44 came out,since the latest supported NVIDIA Driver version for the patch is 470.74,did some tinkering of my own in both patch.sh and pat

[2021-11-01 10:57] mauricioquintela commented on #448
Count me in as well! More than willing to test the new patch

[2021-11-01 20:36] LethalManBoob commented on #448
same here

[2021-11-01 20:36] LethalManBoob commented on #451
Can you put this in pastebin? So i can just copy paste? Thanks

[2021-11-02 09:17] fkortsagin commented on #451
Sure,give me a sec!
*Fjodor Kortsagin*
*Email*: ***@***.***
*Phone*:+37253747187

On Mon, Nov 1, 2021 at 10:36 PM LethalManBoob ***@***.***>
wrote:

[2021-11-02 09:17] fkortsagin commented on #451
Sure,give me a sec!

[2021-11-02 09:27] fkortsagin commented on #451
Both are here,hope it works:
**patch-fbc.sh**
https://pastebin.com/qaqjeafB
**patch.sh**
https://pastebin.com/qm6cg7cJ

[2021-11-02 12:32] LethalManBoob commented on #451
Didnt work for me but then i am kinda stuck on 470.82 due to my distro.
Can you possible make it compatable for 470.82? I tried editing the numbers to include .82 but it made no difference

[2021-11-02 13:18] fkortsagin commented on #451
You need to do it yourself manually and then run the obs patch again,these are the lines you need to add,since your driver is 470.82 it means its newer than 470.74 but uses the same strings
in **patch.sh**
**under this**
# libnvidia-encode.so @ 0x15a45; test->sub, jne->nop-nop-nop-nop-nop-nop
**add this to the bottom**
["470.82"]='s/\xe8\x25\x1C\xff\xff\x85\xc0\x41\x89\xc4/\xe8\x25\x1C\xff\xff\x29

[2021-11-02 14:45] LethalManBoob commented on #451
I tried but it doesnt work. It lists the driver as being supported but it still says at the beginning that .82 is not supported.

[2021-11-02 14:50] fkortsagin commented on #451
You actually have some ground to cover,besides 470.74.
The values of the strings differ in both files to some extent,just play around with them for a bit. What distro are you on?
["470.42.01"]='s/\xe8\x25\x1C\xff\xff\x85\xc0\x41\x89\xc4/\xe8\x25\x1C\xff\xff\x29\xc0\x41\x89\xc4/g'
["470.57.02"]='s/\xe8\x25\x1C\xff\xff\x85\xc0\x41\x89\xc4/\xe8\x25\x1C\xff\xff\x29\xc0\x41\x89\xc4/g'
["470.62.02"]='s/

[2021-11-02 16:04] specializedtom commented on #448
Nvidia driver : 470.82.00
GPU Model: MSI GeForce RTX 2070 Super; MSI GeForce RTX 3070 Gaming
OS: Linux/ Fedora 34

Consider me in when testing new patch.

[2021-11-02 19:36] LethalManBoob commented on #451
pop os 21.04

On Tue, 2 Nov 2021 at 14:50, Silent Gameplay ***@***.***>
wrote:

[2021-11-02 20:00] rpodcast commented on #448
Nvidia driver: 470.82.00
GPU Model: GeForce RTX 2060 Super with 2176 CUDA Cores
OS: Linux / Pop OS 20.04

Eager to help test!  I rely on using this patch to enable NvENC within OBS

[2021-11-03 10:15] Strykar commented on #451
This did not work for me.

[2021-11-04 19:08] Strykar opened #452 "New driver support (version 495.44)"
- `Linux i5 5.10.76-xanmod1-1-lts #1 SMP Thu, 28 Oct 2021 12:20:26 +0000 x86_64 GNU/Linux`
- Nvidia driver version:
495.44
- GPU Model: [e.g. GTX 1070]
GTX 950 / 1080
- OS: Arch linux
- [x] I'm willing to participate in testing of new patch version
https://github.com/keylase/nvidia-patch/issues/451 does not work in spite of reporting success.

[2021-11-05 02:49] rpodcast commented on #448
Good news everyone: I found [this post](https://forum.level1techs.com/t/update-setting-up-nvfbc-for-obs-on-ubuntu-with-troubleshooting-steps/176193) on Levelonetechs demonstrating that simply editing the `patch.sh` or `patch-fbc.sh` scripts to include new lines for the `470.82.00` driver enables the patching to complete. I tested this by adding the following lines in the `patch_list` and `object_l

[2021-11-05 11:56] LethalManBoob commented on #448
This works!!!

[2021-11-05 12:11] mauricioquintela commented on #448
@rpodcast 's fix also works for me. Both for `patch-fbc.sh` and for `patch.sh`. Only difference for `patch.sh` is that the line added to its `object_list` array is different, reading

### `object_list`
[code]

[2021-11-05 12:31] SilentMystification opened #453 "Windows 11 Support"
The most recent `472.12` driver is not compatible with Windows 11, not out of the box at least. Is there any support for removing the session limit from a Windows 11 install?

[2021-11-07 11:57] umitakkaya commented on #448
I can also confirm that it works.

[2021-11-07 12:07] leillo1975 commented on #448
Yes, it works. Can dev include it on the code?

[2021-11-07 14:00] iriecolorado commented on #447
I'm not seeing anything for Windows.  "just use WSL" means literally nothing to me.

[2021-11-07 14:01] iriecolorado opened #454 "This project is dead, isn't it?"
Hello,

My question is: ...
Is this project dead?  Is there anything like it for Windows that works?

[2021-11-07 15:35] illnyang commented on #447
that's unfortunate

[2021-11-07 18:03] itsTyrion commented on #454
Why, because it's not fully updated only days after a driver update?

[2021-11-07 19:16] federicotorrielli commented on #454
**cringe alert**

[2021-11-07 19:28] Snawoot opened #456 "Project is looking for a maintainer"
Hello,

I'm stepping down as a maintainer of this project. If there is someone who'd like to maintain this project further, please respond to this issue and I'll ask @keylase to provide write access to this repo after some screening.

[2021-11-07 19:34] Snawoot commented on #454
Hello!

It's not really dead, but I'll not maintain it further. I've opened issue and updated projects main page with corresponding notice. From now it's maintained by community - I'll accept only pull requests and applications for maintainer role.

Speaking of alternatives, I'd like to recommend [nvlax](https://github.com/illnyang/nvlax).
I haven't tested it (I don't even have nvidia gpu), but lo

[2021-11-07 19:34] #454 closed

[2021-11-08 12:37] Jaybonaut commented on #456
Is it being abandoned because something changed?

[2021-11-08 16:23] iriecolorado commented on #454
The Windows side has been dead for 2 months.

[2021-11-08 16:25] iriecolorado commented on #447
No doubt.

[2021-11-08 16:31] phedders commented on #447
@iriecolorado being demanding and rude to those giving their time to help without financial reward is very churlish. I would suggest you have a look to see what you kind find out able WSL without expecting everyone else to spoon-feed you. Worse it is frustrating, demoralising and timewasting for those who have to respond.

The world is not your slave. There are very helpful resources called "searc

[2021-11-08 18:48] jailuthra commented on #456
I'm interested!

[2021-11-08 20:34] iriecolorado commented on #456
Fingers crossed whoever takes over make this work for people on Windows that aren't software developers.  Asking people to install dev environments and write their own code is a pretty substantial hurdle.

[2021-11-08 21:17] keylase commented on #456
Which the most convenient way to work on a Window?

[2021-11-08 21:29] Drapersniper commented on #456
Y'all should try to keep this issue clean and relevant, this issue is specifically for people wanting to apply to become maintainers (not discussions about how to do something on windows)

[2021-11-08 22:22] Snawoot commented on #456
New maintainer elected: meet @jailuthra!

[2021-11-08 22:22] #456 closed

[2021-11-09 05:57] #451 closed

[2021-11-09 06:00] #452 closed

[2021-11-09 19:43] sakurachan00 opened #460 "driver 470.82.00"
this line should be "    ["470.82.00"]='libnvidia-encode.so' "
https://github.com/keylase/nvidia-patch/blob/d4ee5b4d6ee1911b34c6a5054ec272d26b241e91/patch.sh#L286

[2021-11-10 08:32] leillo1975 commented on #460
You are absolutely right. Sorry, it's my fault

[2021-11-10 09:45] jailuthra commented on #460
My bad, I missed this during review.
@leillo1975 you'll probably need to update your fork before fixing it.

[2021-11-10 10:09] leillo1975 commented on #460
I create a new Pull Request:
https://github.com/keylase/nvidia-patch/pull/462
Sorry

[2021-11-10 11:04] jailuthra commented on #460
No worries, thanks for the fix.

[2021-11-10 11:04] #460 closed

[2021-11-10 17:51] pschroedl commented on #448
Not working for me, on 470.82.00 after pulling main - ran both patch-fbc.sh and patch.sh, same result "cannot allocate memory"

[2021-11-10 18:40] specializedtom commented on #448
Same here. Getting a 'cannot allocate memory' error message when running livepool after applying the patch.

[2021-11-10 19:28] leillo1975 commented on #448
What patch fails, patch.sh or patch-fbc.sh? I don't have problems with no one:
[code]

[2021-11-10 19:32] specializedtom commented on #448
Patch.sh - using Livepool on Fedora 34.

[2021-11-10 20:21] leillo1975 commented on #448
Sorry, I only did a Pull Request with the changes shown in this thread...

[2021-11-10 23:40] pschroedl commented on #448
Are there other changes somewhere necessary for this to work? both .sh files run successfully, but still produce 'cannot allocate memory' error when trying to run a program that depends on this patch. Has worked fine on every other version.

[2021-11-11 07:04] jailuthra commented on #448
Looks like the driver update is done correctly for NVFBC but not for NVENC here https://github.com/keylase/nvidia-patch/commit/97a959fe95fa41370341c17f3a137a151ef2317a#diff-0a4f8ba240035344f40ec13f1857d73e43f174394b6deba7a3b577c89647d4bbR170

Will fix.

[2021-11-11 07:09] #448 closed

[2021-11-11 07:11] jailuthra commented on #448
@pschroedl @specializedtom let me know if it works now. restore the backup driver first via: `./patch.sh -r`
then pull from master again and run: `./patch.sh`

[2021-11-11 07:46] specializedtom commented on #448
yes, the new patch now works with livepool. Thanks.

[2021-11-11 08:28] leillo1975 commented on #448
I think it will be better for everyone if I leave this in more expert hands. I am very sorry

[2021-11-12 07:28] oysteinkrog opened #464 "I have reverse engineered a new nvencodeapi64.dll patch"
The file has changed enough for my old patch to have stopped working, here is an updated one :)
I reversed based on 496.49, not sure exactly when the file changed though.
nvencodeapi64.dll 8BE885C075054889 => 33C085C075054889

[2021-11-12 07:29] oysteinkrog commented on #447
I created an updated patch, see #464

[2021-11-12 22:36] bguidotti commented on #464
Where is it hosted, oystein?

[2021-11-12 23:39] spider3000 commented on #448
Apologies for the off-topic question, but what's livepool?

[2021-11-13 08:13] specializedtom commented on #448
Livepool is a crypto-mining pool, but not a mining-pool in the strictest sense (unlike bitcoin). Livepool allows you to transcode videos via the livepeer blockchain and receive passive income for the work that gets allocated to you.You can run it in the background in conjunction with any GPU intensive process, as it requires very little overhead. (Don't expect life-changing wealth from it though .

[2021-11-15 17:25] iriecolorado commented on #447
When did I "demand" anything from anybody?

[2021-11-16 22:15] reloxx13 commented on #464
heya,
i tried it with latest win driver 496.76, but it did not find the pattern.
496.49 did not work, too.

with the patch creator py script after adding ur offsets.

[code]

[2021-11-16 22:22] reloxx13 opened #465 "New driver support (version 496.76) - (patch download included)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 496.76
- OS: Win10x64
- [x] I'm willing to participate in testing of new patch version

[nvEncodeAPI64_patched_496.76.zip](https://github.com/keylase/nvidia-patch/files/7550242/nvEncodeAPI64_patched_496.76.zip)

created with https://github.com/illnyang/nvlax patcher

[2021-11-16 23:47] BionicAlice commented on #465
Not having luck with the patched dll. Still limited to max 3 nvenc streams

[2021-11-17 01:44] nyanmisaka commented on #465
[code]
Also failed on Win10 64bit with GTX 1650.

[2021-11-17 16:29] zany130 opened #466 "Screen Tearing when a app uses NVFBC"
**Describe the bug**
Screen Tearing when a app uses NVFBC

**To Reproduce**
Steps to reproduce the behavior:
1. apply the NVFBC patch
2. install obs-nvfbc or gpu-screen-recorder-gtk
3. record
4.  notice tearing

**Expected behavior**
obs or gpu-screen-recorder is able to record gameplay with minimal performance hit (it does) and no screen tearing

**Environment (please complete the following infor

[2021-11-17 19:35] snek100 opened #467 "New driver support (version 470.86)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 470.86
- GPU Model: GTX 1060
- OS: Debian unstable with Gnome 41.1
- [x] I'm willing to participate in testing of new patch version
- (please ask if i left out any information)

[2021-11-18 12:32] jailuthra commented on #466
Is this a bug with the patch, or NVFBC driver itself?

[2021-11-18 12:40] jailuthra commented on #467
@snek100 can you test #468? if it works i'll merge!

[2021-11-18 14:45] zany130 commented on #466
I have no clue. I have spoken to others who are able to use this without issues on 495 with obs-nvfbc while for me i get tearing whenever a recording app (OBS or GPU screen recorder) uses NVFB. Exiting the app immediately fixes the tearing

[2021-11-18 14:49] snek100 commented on #467
ok, i will test it.

[2021-11-18 14:53] snek100 commented on #467
yup, it works!

[2021-11-18 16:33] #467 closed

[2021-11-20 00:34] zany130 commented on #466
update on this. I noticed I am getting Unable to cleanup NvFBC
message in obs logs which might be related I opened an issue also with https://gitlab.com/fzwoch/obs-nvfbc/-/issues/5
This was about a memleak though which might be unrelated (I think it was happening because I added obs-websokets)

[2021-11-21 06:59] Jaybonaut commented on #465
Just swinging by, currently using 472.12, has there been any progress from these wonderful people to go beyond this driver version yet for those of us using Windows and Plex?  I had been using the Win_1337_Apply_Patch_v1.9 by DFoX up until this point.  Apparently something changed?  Apologies for my ignorance in advance.

[2021-12-02 17:38] reloxx13 commented on #465
up for another try?

i tested it with plex and i could transcode 6 multiple streams at once. but i think my test is not that reliable with plex.

[win10x64_497.09_patched.zip](https://github.com/keylase/nvidia-patch/files/7644006/win10x64_497.09_patched.zip)

again created with https://github.com/illnyang/nvlax patcher

this does not look like a limit error.

isnt the orginal nvidia limit 2 ? be s

[2021-12-02 17:47] nyanmisaka commented on #465
I can confirm this is the limit error.
https://stackoverflow.com/questions/46393526/ffmpeg-cuda-encode-openencodesessionex-failed-out-of-memory

The original encoding session limit is 3.
Will try it after I upgraded to 497.09.

[2021-12-03 11:27] Jaybonaut commented on #465
It was 2 for years but a little while back they changed it to 3.

[2021-12-04 13:27] nyanmisaka commented on #465
I replaced the `nvEncodeAPI64.dll` in System32 with your patched one, but the limit error still exists on my GTX 1650.

My driver version is 497.09 game ready driver `497.09-desktop-win10-win11-64bit-international-dch-whql.exe`. Is there something wrong?

[2021-12-04 13:29] nyanmisaka commented on #465
https://github.com/illnyang/nvlax/issues/6

[2021-12-04 17:05] Shawak commented on #465
Did you also replace `C:\Windows\SysWOW64\nvEncodeAPI.dll`?

[2021-12-04 17:09] reloxx13 commented on #465
no

[2021-12-05 22:40] leillo1975 opened #469 "Video recording frezze for a second using NvFBC"
**Describe the bug**
Sometimes, when I'm recording with OBS, the video (not the audio), gets stopped for some time (about a second), and then continues. When you are recording, you don't see this problem on the screen

**To Reproduce**
Steps to reproduce the behavior:
1. Simply record a video with OBS

**Expected behavior**
The recording must be normal

**Output listings**
You can see what I 'm ta

[2021-12-06 13:56] morpheus2n2 opened #470 "New driver support (version 497.09)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 497.09
- GPU Model: GTX 1080
- OS: Windows 11
- [x] I'm willing to participate in testing of new patch version

[2021-12-06 16:57] cosmane commented on #470
Nvidia driver version: 497.09
GPU Model: GTX 3080
OS: Windows 10

PS: I tried patch 472.12 by rolling back the Nvidia driver, but only got 13 concurrent sessions on the 3080.  I am hoping the new upgraded patch will improve the concurrent sessions metric.

[2021-12-06 20:23] nderlyn commented on #470
Nvidia driver version: 497.09
GPU Model: RTX 2080
OS: Windows 10

I'm willing to participate in testing of new patch version.

[2021-12-07 05:04] Frozty4628 commented on #470
Nvidia driver version: 497.09
GPU Model: RTX 2060
OS: Windows 11 build 22000.348

I'm willing to participate in testing of new patch version.

[2021-12-07 21:10] scottruzal opened #471 "Question: Parsec Not Working After Patching Nvidia Drivers"
Hi,

I recently installed and patched the 472.12 Studio Driver on Windows 10. The patch seemed to be successful, but I noticed that my computer was no longer showing up as a host in Parsec for game streaming. I imported the registry values that are supposed to act as a workaround for the binary signature mismatch, but my computer is still not showing up as a host in Parsec.

Has anyone encountered

[2021-12-08 08:58] cjhih456 opened #472 "New driver support (version 470.82.01)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 470.82.01
- GPU Model: NVIDIA GeForce RTX 3090
- OS: Ubuntu 20.04.3 LTS (GNU/Linux 5.11.0-41-generic x86_64)
- [ ] I'm willing to participate in testing of new patch version

[2021-12-08 21:48] collinmyers commented on #470
Nvidia driver version: 497.09
GPU Model: RTX 3070
OS: Windows 10
 I'm willing to participate in testing of new patch version

[2021-12-11 14:29] Stolk3r commented on #470
Nvidia driver version: 497.09
GPU Model: RTX 3080
OS: Windows 10
I'm willing to participate in testing of new patch version

[2021-12-13 17:37] warham28 commented on #470
Nvidia driver version: 497.09
GPU Model: GTX 1060 3GB
OS: Windows 11
 I'm willing to participate in testing of new patch version

[2021-12-13 20:54] ShayBox opened #473 "New driver support (version 495.46)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 495.46
- GPU Model: GTX 1080 Ti
- OS: ArchLinux
- [x] I'm willing to participate in testing of new patch version
Arch just updated to 495.46

[2021-12-14 04:12] fkortsagin commented on #473
Changed both the patch-fbc.sh and patch.sh by adding the 495.46 and it seems to work,tested on Arch Linux with OBS nvfbc
patch-fbc.sh on pastebin:
https://pastebin.com/qaqjeafB
patch.sh on pastebin:
https://pastebin.com/qm6cg7cJ

Hope it helps!

[2021-12-15 08:38] jailuthra commented on #473
Fixed in #474

[2021-12-15 08:38] #473 closed

[2021-12-16 21:10] DirtYiCE opened #475 "New driver support (version 470.94)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 470.94
- GPU Model: GT 640
- OS: Gentoo
- [x] I'm willing to participate in testing of new patch version

[2021-12-18 04:38] WoodburyMan commented on #470
Nvidia driver version: 497.09
GPU Model: GTX 1050 Ti 4GB
OS: Windows 11
I'm willing to participate in testing of new patch version.
System is used for multiple Plex transcoding sessions.

[2021-12-18 11:38] ezek1el commented on #470
Nvidia driver version: 497.09
GPU Model: RTX 3080
OS: Windows 10
I'm willing to participate in testing of new patch version

[2021-12-20 17:50] thisisawesome1994 opened #476 "New driver support (version 471.96)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: [471.96]
- GPU Model: [GTX 1050 Ti]
- OS: [Windows 11 Pro]
- [x] I'm willing to participate in testing of new patch version

[2021-12-20 17:52] thisisawesome1994 commented on #453
I think no driver is supported on Windows 11, since offset is wrong.
I guess you need to wait for support.

[2021-12-20 17:55] thisisawesome1994 commented on #476
What does it mean to be a maintainer?
I know some stuff, but programming is not my thing. If someone teaches me, I might be able to assist.

[2021-12-21 15:37] WoodburyMan opened #477 "New driver support (version 497.29)"
- Nvidia driver version: 497.29
- GPU Model:  GTX 1050 Ti / RTX 3080
- OS: Windows 10 21H2 / Windows 11 21H2
- I'm willing to participate in testing of new patch version

[2021-12-22 15:25] gthbububba opened #478 "New driver support (version 472.84)"
Are we seeing support for 472.84 Quadro? Maybe as a christmas gift?
Thx a lot

[2021-12-23 09:03] jailuthra commented on #475
Can you test if #480 works for you? If yes I'll merge it :)

[2021-12-23 09:59] jailuthra commented on #478
@gthbububba Can you test if #481 works for you? If it does I'll merge it.
Also let me know which system you're testing it on (i.e. is your Quadro running on a windows server or on standard Win10)

[2021-12-23 10:02] jailuthra commented on #453
Yep hoping to get my hands on Win11 and reverse the drivers for the new offset(s).

I've recently become the maintainer of this repo, so still ramping up, thanks for your patience.

[2021-12-23 13:02] thisisawesome1994 commented on #453
Do you need a license, or a new computer? You can get a license on
royalcdkeys for cheap. Also, if your pc doesn't support win11, Just use the
no tpm mod.

Op do 23 dec. 2021 11:02 schreef Jai Luthra ***@***.***>:

[2021-12-23 13:02] thisisawesome1994 commented on #453
Do you need a license, or a new computer? You can get a license on royalcdkeys for cheap. Also, if your pc doesn't support win11, Just use the no tpm mod.

[2021-12-23 14:50] DirtYiCE commented on #475
Oh, the signatures from the previous version, I wanted to test them but I forgot about it. Anyway, I tested it now:
NvFBC + obs: OK
NVENC obs single stream: OK
To be honest, the NVENC patch is kinda pointless with this card, since it can't even keep up with a single full-HD stream, but at least it looks like it doesn't break things.

[2021-12-23 16:18] jailuthra commented on #475
Thanks, will merge!

[2021-12-23 16:19] #475 closed

[2021-12-25 22:13] gthbububba commented on #478
Thanks a lot.

Win21H2
DCH drivers:
https://de.download.nvidia.com/Windows/Quadro_Certified/472.84/472.84-quadro-rtx-desktop-notebook-win10-win11-64bit-international-dch-whql.exe

Patch went through (I didn't see any change in the patch regarding to 472.12_nvencodeapi.1337 and 472.12_nvencodeapi64.1337 as these seem to be he same patches just with an updated version number).

Was not yet able to t

[2021-12-26 16:30] #478 closed

[2021-12-28 09:45] spooks7er commented on #477
Nvidia driver version: 497.29
GPU Model: RTX 2080 Super
OS: Windows 10 19042.1348
I'm willing to participate in testing of new patch version

[2021-12-28 15:16] SeniorHeld commented on #477
- Nvidia driver version: 497.29
- GPU Model: RTX 3090 FE
- OS: Windows 11 21H2 22000.376
- I'm willing to participate in testing of new patch version

[2022-01-05 15:33] rasorjb opened #482 "Linux 470.86 does not work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.  sudo bash patch.sh

**Expected behavior**
Patch successfully installed.

**Output listings**
Detected nvidia driver version: 470.86
Patch for this (470.86) nvidia driver not found.

**Environment (please complete the following information):**
 - OS: Linux Mint 20.2
 - GPU

[2022-01-08 19:37] KennethHoff commented on #482
I'm also experiencing this issue, with POP!_OS 21.10

[2022-01-08 19:46] KennethHoff commented on #482
Never mind, the issue was the IPFS git mirror link seemingly not being up-to-date. After pressing `Download Zip` and running it from the downloaded folder it worked.

[2022-01-08 22:02] DGCupit opened #483 "New driver support (version 495.46)"
- Nvidia driver version: 495.46
- GPU Model: 1050Ti 4GB
- OS: Ubuntu 20.04.3 LTS
- [x] I'm willing to participate in testing of new patch version

Well, I just installed the latest driver for my card, expecting it to pull one of the 495 versions that are supported, but found that installing via _apt install nvidia-495_ installed 495.46 which, unfortunately, is just past the supported patch release

[2022-01-10 02:07] DarkComputerMiner opened #484 "GeForce RTX 3090 not connect to mining rig. What to do?"
Hello,
I am currently running a 4 GPU mining rig.
GPU: 4 GeForce RTX 3060
CPU: Intel Core i5 10400
RAM: Team Group T-Force Delta 2x 32 GB
Motherboard: MSI MPG Z570 Gaming Carbon WiFi
PSU: MonTech Gold 850 Watt 2x

I want to add a Zotac Gaming GeForce RTX 3090 to this rig. I am a beginner, so I have absolutely no experience with this stuff.
There are 5 PCI-E slots on my motherboard. Whenever I add

[2022-01-10 17:04] ButtaJones opened #485 "New driver support (version 346.02) Mac/Darwin"
- Nvidia driver version: 346.02
- GPU Model: GTX 960 2GB
- OS: Mac OSX Yosemite 10.10.5
- Yes I'm willing to participate in testing of new patch version

Would this be possible on Mac/Darwin-x86_64? Thank you.

[2022-01-11 11:12] brimur opened #486 "Nvidia driver corrupted after patch"
Hello,

Just wondering if I did something wrong. I have a GTX 1060 which was able to transcode 2 streams in Plex fine. I applied the patch by running "bash ./patch.sh" as specified. The result said the driver had been patched but and it seems to have corrupted the driver (470.86). Now when I run nvidia-smi it says...

[code]

[2022-01-11 11:33] brimur commented on #486
May have been a glitch. I reinstalled the driver and ran the patch again and it worked as expected

[2022-01-11 11:33] #486 closed

[2022-01-12 10:53] Norkolt opened #487 "New driver support (version 510.39.01)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: [510.39.01]
- GPU Model: [GTX 1060]
- OS: [Ubuntu 21.10]
- [x] I'm willing to participate in testing of new patch version

[2022-01-17 02:07] DGCupit commented on #483
The release page now says it supports 495.46, however, when I downloaded the latest git and ran the patch, it reported:

Detected nvidia driver version: 495.46
Patch for this (495.46) nvidia driver not found.

[2022-01-17 21:01] jcgonnard commented on #487
works fine for me with the following patch

[code]

[2022-01-19 17:46] morpheus2n2 opened #489 "New driver support (version 511.23)"
- Nvidia driver version: [511.23]
- GPU Model: [GTX 1080]
- OS: [Windows 11]
-  I'm willing to participate in testing of new patch version

[2022-01-21 20:56] floppystag commented on #489
Nvidia driver version: [511.23]
GPU Model: [GTX 1050 Ti]
OS: [Windows 10]
I'm willing to participate in testing of new patch version

[2022-01-23 09:46] ParhamBandarchi commented on #487
I tried adding those two lines to patch.sh but it didn't work for me (trying to encode with ffmpeg)

[2022-01-23 12:01] jcgonnard commented on #487
I didn't try with ffmpeg, but works fine with OBS for me.

Did the patch applied correctly ?
What was prompted when  you runned it ?

[2022-01-23 19:13] ParhamBandarchi commented on #487
I think it applied correctly, here is what I got patch.sh

Detected nvidia driver version: 510.39.01
2cd4aceecb7840ef94ca43cbbd1422d390b1e83c  /opt/nvidia/libnvidia-encode-backup/libnvidia-encode.so.510.39.01
2cd4aceecb7840ef94ca43cbbd1422d390b1e83c  /usr/lib/x86_64-linux-gnu/libnvidia-encode.so.510.39.01
Patched!

[2022-01-25 20:51] StoobertB commented on #487
CPU: i9-7900x (32GB RAM), GPU: 1080Ti (11GB), Ubuntu 20.04 LTS
I am having the same issue. Patch appears to install correctly:

[code]

But when starting up a fourth encode (first three work fine) I suddenly get the 4th encode using over 250% CPU in nvtop and it doesn't play ball and buffers like crazy. Plex logs show the dreaded:

[code]

[2022-01-26 07:02] didyouexpectthat commented on #487
The backup file and the patched file should not have the same checksum, right?   When I patch fbc, I get different checksums (as expected) but when I see @StoobertB  and @ParhamBandarchi  entries, they are showing the backup and and the new file as having the same checksums.

[code]

[2022-01-26 12:39] StoobertB commented on #487
Interesting. If the checksums are the same that would mean the patch hasn't taken. But yet if I DO the patch, FFMPEG and Plex crash. Strange.

[2022-01-26 12:52] lars18th opened #490 "Request for WSL 2 drivers"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: reported by nvidia-smi `472.12`
- GPU Model: GTX 1650 Super
- OS: Ubuntu 21.10 inside WSL 2 running in Win10 21H2
- [x] I'm willing to participate in testing of new patch version

First of all, let me to explain what is WSL and why I ask for this:
- WSL is Windows Subsystem Linux.

[2022-01-26 14:01] lars18th commented on #490
Hi,

One advise: The directory `/usr/lib/wsl` is readonly. To do a clean patch of the file, I suggest to use a simple bind of the file. For example with: `sudo mount -o bind /opt/nvpatch/libnvidia-encode.so.1 /usr/lib/wsl/lib/libnvidia-encode.so.1`. This will be sufficient to inject the patched driver.

Then we only need that someone finds the correct hooks for this driver.
Regards.

[2022-01-27 07:59] lars18th commented on #490
In reference to the question of searching for a patch for WSL drivers, see here: https://github.com/illnyang/nvlax/issues/10

[2022-01-27 11:49] lars18th opened #491 "Question: How to check if nvenc patch works ?"
Hi,

Here a simple command to check if the patching works:
[code]

This only requires to have installed a recent ffmpeg version compiled with nvenc enabled. Almost all distributions have it now.

If you get a message like:
[code]
Then the patch has failed.

But if the ffmpeg starts to work and shows:
[code]
Then... Congratulations! The patch works.

I suggest to put this information in the README

[2022-01-27 11:51] ParhamBandarchi commented on #487
I tried removing the driver starting over again and I'm still getting the same checksum for both files so it's not doing anything

[2022-01-27 11:53] lars18th commented on #490
Hi,

Good news! I've it working! 🥇

[code]

[2022-01-27 12:16] lars18th commented on #491
Similar to one posted here: https://github.com/keylase/nvidia-patch/issues/206#issue-530769954

[2022-01-27 13:03] lars18th commented on #490
You can found my patch for nvlax here: https://github.com/illnyang/nvlax/issues/10#issuecomment-1023136933

I feel someone will prepare then a PR for this project.
Sorry but I don't time to do it for myself.

[2022-01-28 03:08] #471 closed

[2022-02-01 15:25] famesjranko opened #492 "patch download URLs timeout"
Hey, just tried to clone the nvidia patch from the mirror URLs and both returned 504, timeout error.   Not the end of the world as the patch is available in the repo, but thought it was worth letting you know.

[2022-02-01 15:31] #492 closed

[2022-02-01 20:18] LionHeartP opened #493 "New driver support (version 510.47.03)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 510.47.03
- GPU Model: RTX 3070
- OS: Arch Linux
- [x] I'm willing to participate in testing of new patch version

[2022-02-03 16:15] LionHeartP commented on #493
Just as an FYI I tried using the previous addresses to patch this version but it didn't work, at least for the FBC one.

[2022-02-04 12:48] mauricioquintela commented on #493
I tried it with the addresses listed in https://github.com/keylase/nvidia-patch/issues/487 (updating of course ["510.39.01"] to ["510.47.03"]), and fbc is working fine for me. Haven't tested nvenc yet.

[2022-02-05 16:55] nathan-t-sudo commented on #493
added the following patch on my end
and its working fine

diff --git a/drivers.json b/drivers.json
index 1e5990b..f801a10 100644
--- a/drivers.json
+++ b/drivers.json
@@ -667,6 +667,12 @@
[code]
diff --git a/patch.sh b/patch.sh
index 690b009..9dd4cd5 100755
--- a/patch.sh
+++ b/patch.sh
@@ -173,6 +173,7 @@ declare -A patch_list=(
     ["495.29.05"]='s/\xe8\x35\x1f\xff\xff\x85\xc0\x41\x89\xc4/\xe8\

[2022-02-05 17:00] LionHeartP commented on #493
Confirmed working fine.

[2022-02-05 17:52] LionHeartP commented on #493
Created a PR with this patch. Please test.

https://github.com/keylase/nvidia-patch/pull/494

[2022-02-07 00:59] didyouexpectthat commented on #493
This doesn't work for me.

[code]
Old and new are the same.

[code]
This seems to have done something.

[2022-02-07 01:20] WoodburyMan commented on #489
Nvidia driver version: [511.23]
GPU Model: [GTX 1080]
OS: [Windows 11]
I'm willing to participate in testing of new patch version

At this point in the game... I'm going to go out on a limb and say that Windows releases are not getting any release anytime soon.

Does anyone know if anyone is actively tackling this?

[2022-02-07 03:57] dor7to commented on #493
works good on my end, cheers.

[code]

[code]

[2022-02-07 04:51] didyouexpectthat commented on #493
Your checksum is the same also for the patch. I don't think it successfully patched, otherwise, the checksum would be different, like on patch-fbc.

[2022-02-07 10:50] hiddeninthesand opened #496 "New driver support (version 470.103.01)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: [e.g. 470.103.01]
- GPU Model: [e.g. GTX 1650]
- OS: [e.g. Ubuntu 20.04]
- [ ] I'm willing to participate in testing of new patch version

[2022-02-08 14:03] Brandoskey opened #497 "Question: How to stop apt from updating driver ?"
Hello,

My question is: What is the proper way to freeze/hold to driver version 470.86 on ubuntu 20.04? 470.103 is currently unsupported.

Thanks

[2022-02-09 00:50] xenago commented on #497
Run this command to view all the nvidia packages:
`dpkg -l | grep nvidia`

Then just run a hold command for any of those you want to avoid updating. For example:
[code]

To view your holds:
`apt-mark showhold`

To unhold a package, run this:
`sudo apt-mark unhold nvidia-driver-470`

To unhold all packages:
`sudo apt-mark unhold $(apt-mark showhold)`

[2022-02-09 15:28] Czar102 commented on #493
Same as above
https://github.com/keylase/nvidia-patch/pull/494#issuecomment-1033849984

[2022-02-09 16:00] LionHeartP commented on #493
I would suggest to the people that can't get patch.sh working, to maybe try out this.
https://github.com/illnyang/nvlax
If you are on Arch, prepatched drivers already exist on AUR as well as nvlax itself. You can also make it work with flatpak apps by pointing it to the runtime .so files.

I think something has changed on Nvidia's end, and we need different addresses for patch.sh

[2022-02-09 16:47] spider3000 commented on #493
What's the package called?

[2022-02-09 16:55] Czar102 commented on #493
Thanks a lot for help!
I tried to use https://github.com/illnyang/nvlax, but I ran into some compilation errors.

This has already been observed: https://github.com/illnyang/nvlax/issues/11

There is a pull request made by [tytan652](https://github.com/tytan652) that aims to fix this error.
He also made an AUR package -- https://aur.archlinux.org/packages/nvidia-utils-nvlax
But I am still having c

[2022-02-09 16:59] LionHeartP commented on #493
Tytan also made an nvlax package for AUR that also fixes the compilation error if you're interested. It's called nvlax-git

[2022-02-09 17:10] ConstBur commented on #493
Nah, I installed it myself on Arco :)
I've tried with yay, paru and compiling directly from source with the patch and still get the same thing so yeah...

[2022-02-09 17:36] Czar102 commented on #493
I got a slightly different error...

[code]

[2022-02-09 21:28] leillo1975 commented on #493
patch-fbc.sh works for me, but patch.sh give me the following error:
`Patch for this (510.47.03) nvidia driver not found.`

[2022-02-09 21:35] LionHeartP commented on #493
Yes I removed nvenc patch because it uses different addresses. Fbc should work fine.

[2022-02-09 22:16] Czar102 commented on #493
https://aur.archlinux.org/packages/nvidia-utils-nvlax

The AUR package has been updated and worked for me!

[2022-02-11 08:57] robkorv commented on #493
Ubuntu 20.04.3 LTS ✅  for the "patch-fbc.sh" and fbc works in obs-studio now. Tnx!

[code]

[2022-02-11 09:51] Kyhze commented on #493
Any alternatives for debian users?

[2022-02-11 10:35] #472 closed

[2022-02-11 10:40] jailuthra commented on #484
Closing because not relevant to the project.

[2022-02-11 10:40] #484 closed

[2022-02-11 10:41] jailuthra commented on #466
Closing as this wasn't caused by the patch.

[2022-02-11 10:41] #466 closed

[2022-02-11 10:41] #445 closed

[2022-02-11 10:45] #497 closed

[2022-02-11 11:52] jailuthra commented on #491
This is helpful thanks!

Added this to the wiki https://github.com/keylase/nvidia-patch/wiki/Verify-NVENC-patch and linked in the README

[2022-02-11 12:22] CaptInsano commented on #489
Nvidia driver version: [511.23]
GPU Model: [RTX 2060]
OS: [Windows 10]
I'm willing to participate in testing of new patch version

@jailuthra
Thanks for taking up the maintenance of this project.
Any updates on any Windows releases?

[2022-02-11 13:56] jailuthra commented on #487
The driver's bytecode changed a bit recently (I think from 510.xx.xx) so the NVENC patch here doesn't work, but NVFBC does.

For NVENC, I opened up the new driver in [iaito](https://www.radare.org/n/iaito.html), found the artificial limit call mentioned in the [original article](https://web.archive.org/web/20190904221644/https://weekly-geekly.github.io/articles/262563/index.html) and noticed that

[2022-02-11 13:56] #487 closed

[2022-02-11 13:59] jailuthra commented on #489
@CaptInsano contributions are highly welcome for windows drivers.

It'll take me some time to get access to a good Windows 10 & 11 machine to patch and test drivers there.

[2022-02-11 13:59] jailuthra commented on #493
Hey all fixed in #499, please test :)

[2022-02-11 13:59] #493 closed

[2022-02-11 14:01] jailuthra commented on #496
Fixed in #495

[2022-02-11 14:06] jailuthra commented on #485
Theoretically, yes, but someone with an nvidia macbook will need to patch and test it.

[2022-02-15 21:51] flameboi900 commented on #489
I used this patch for ages after I had found out about it, I loved how I could record and stream at the same time finally without any lag and use two obs instances while streaming in discord. I fully support the work you are putting out and I hope that soon we have have  newer drivers added to the list of the patches. Keep up the great work I believe in the working progress you can get a new patch

[2022-02-16 19:18] GanerCodes opened #501 "Append /opt/bin to $PATH"
On my system [Gentoo] /opt/bin contains nvidia-smi, which the superuser $PATH for some reason didn't contain. Appending this directory path to path during the script would fix it not finding nvidia-smi.

[2022-02-17 18:41] jailuthra commented on #489
Can someone test the patch from #503 -
https://github.com/keylase/nvidia-patch/blob/028a94c6999a335ac3278fad91e4329f6b6bcaaa/win/win10_x64/511.23/nvencodeapi64.1337#L1-L5

Same patch worked for me on 511.49 (latest driver) as well.

[2022-02-18 07:17] #489 closed

[2022-02-22 18:32] Jaybonaut opened #504 "511.79 is now listed as supported here"
Hello,

My question is: ...
Is this working again?  Has anyone tried it?

[2022-02-24 05:55] jailuthra commented on #504
Yes I tested on Win10 while creating the new patch #502, worked for me.

Let me know if you face any issues

[2022-02-24 10:58] Jaybonaut commented on #504
I wonder why we went through so many updates without being able to use the old method and then suddenly we get these new ones.  If this is working again, that's wonderful/amazing and very much appreciated

[2022-02-25 06:20] jailuthra commented on #504
Because when the driver bytecode changes significantly, somebody needs to go through the disassembly to find the artificial limit again, which requires some time commitment. Patches welcome :)

[2022-02-25 06:20] #504 closed

[2022-02-25 15:18] WoodburyMan opened #505 "New driver support (version 511.65)"
- Nvidia driver version: 511.65 (Studio Driver)
- GPU Model: GTX 1050 Ti / RTX3080
- OS: Windows 10 / Windows 11
- I'm willing to participate in testing of new patch version

I see the later 511.79 is supported now, however for Plex the studio driver is a bit more stable for transcoding purposes and would like support for that.

[2022-02-27 07:46] jailuthra commented on #505
@WoodburyMan Can you test if #506 works for you? Will merge it once you confirm.

[2022-02-27 20:18] WoodburyMan commented on #505
Just installed and tested and was able to run 4 concurrent transcodes. Thank you!

[2022-02-28 05:35] #505 closed

[2022-02-28 11:06] #464 closed

[2022-02-28 11:07] jailuthra commented on #465
closing this as latest windows driver is now supported.

[2022-02-28 11:07] #465 closed

[2022-02-28 11:08] #447 closed

[2022-02-28 11:08] #470 closed

[2022-02-28 11:08] #476 closed

[2022-02-28 11:08] #477 closed

[2022-02-28 11:09] #441 closed

[2022-03-01 08:32] coldfire7 opened #507 "New driver support (version 390.147)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 390.147
- GPU Model: Quadro P600
- OS: Ubuntu 20.04.4 LTS
- [x] I'm willing to participate in testing of new patch version

[2022-03-02 10:51] jailuthra commented on #507
@coldfire7 can you test if #508 works for you? will merge if it does.

[2022-03-02 12:53] coldfire7 commented on #507
Patched successfully!
[code]
But couldn't test it since the `ffmpeg` test I usually run isn't supported and Jellyfin requires a newer driver `455.28 or newer`.
[code]

[2022-03-02 14:12] #507 closed

[2022-03-06 14:40] Anuruddha094 opened #509 "Thank you for everyone who made this project live again."
I would like to thank you for everyone who made this project live again after it broken by latest Nvidia updates. Thank you for your valuable time and effort. I thought this project is gone. I used to come and check everyday but didn't see any update for so long. But today i saw its back running smoothly as before.

cheers guys.

[2022-03-07 05:49] #509 closed

[2022-03-07 13:07] fhkong opened #510 "Question: My CUDA drive is 470.86, when I use the command `bash patch.sh`, it seemly doesn't work successfully."
Hello,

My question is:
When I use the command `bash patch.sh` on my server with 2080Ti, It seemly does not work. And the output is following.
Detected nvidia driver version: 470.86
Backup exists and driver file differ from backup. Skipping patch.

[2022-03-08 06:55] jailuthra commented on #510
@fhkong this means patch is already applied, can you [test](https://github.com/keylase/nvidia-patch/wiki/Verify-NVENC-patch) if session limit is still there?

In any case might be helpful to restore original driver using `./patch.sh -r` and apply again `./patch.sh`

[2022-03-12 17:51] thegamingrestoration opened #511 "NVFBC no longer working in Arch Linux: Invalid external buffer capabilities"
**Describe the bug**
Since yesterday morning (approx) I get the following message in all the programs that try to initialize and use NVFBC:

Apparently it only happens in Arch Linux and after installing the latest updates.

**To Reproduce**
Steps to reproduce the behavior:
1. Updating Arch Linux
2. Running any [NVIDIA Linux Capture SDK samples](https://developer.nvidia.com/capture-sdk), [OBS Studi

[2022-03-13 09:31] tobyg0 commented on #511
I am having the same issue with an GTX 1660, getting a black screen when using the obs plugin.

`warning: Unable to cleanup NvFBC
info: Switched to scene 'Scene'
info: ------------------------------------------------
info: Loaded scenes:
info: - scene 'Scene':
info:     - source: 'NvFBC Source' (nvfbc-source)
info: ------------------------------------------------
error: Invalid external buffer cap

[2022-03-13 13:02] jailuthra commented on #511
The shipped 510.54 NvFBC driver is exactly the same as 510.47.03 byte-by-byte
![image](https://user-images.githubusercontent.com/1710825/158060354-619b4c1e-230c-44cb-ae15-d6ca2ac0ffe9.png)

I think some other dependency of NvFBC was broken during the arch linux update. It could be other nvidia/cuda libraries, the kernel, or some other package.

Marking it as not-a-bug, unless someone can get NvFBC

[2022-03-13 13:35] thegamingrestoration commented on #511
Hi @jailuthra, thanks for the quick reply. You're right, the issue actually comes from these vulkan library updates:

`lib32-vulkan-icd-loader-1.3.207-1  vulkan-headers-1:1.3.207-1  vulkan-icd-loader-1.3.207-1  vulkan-tools-1.3.207-1`

After downgrading them NvFBC is working perfectly again. [I re-compiled the 4 previous versions of these packages and attached them here, in case anybody needs them

[2022-03-13 13:35] #511 closed

[2022-03-13 14:07] abc1012 commented on #511
I had the same issue and couldn't figure out why, can confirm that downgrading those packages worked. Thanks for compiling them.

[2022-03-14 09:37] #510 closed

[2022-03-15 11:40] xpander69 opened #512 "Vulkan loader/tools update breaks the use of nvfbc?"
Hello,

Sorry if its not the right place to ask, maybe it needs to be asked on the obs plugin github directly, but has anyone else noticed that updating vulkan loader/tools breaks the fbc plugin working with OBS. It keeps spamming `invalid external buffer capabilities` when starting OBS from command line.
Downgrading the packages makes it work again.

[code]
RTX 3080
Arch Linux
510.54 drivers

Sor

[2022-03-15 12:55] jailuthra commented on #512
Yes this is a known issue (see #511), unrelated to this patch.

Keeping this open for a while to prevent further duplicates.

[2022-03-15 12:58] xpander69 commented on #511
Ohh sorry for posting just another report. Didn't somehow notice this. Hit the same problem

[2022-03-18 14:50] 15360enes opened #513 "New driver support (version 510.54)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 510.54
- GPU Model: GTX 1660 SUPER
- OS: Pop!_OS 21.10
- [x] I'm willing to participate in testing of new patch version

[2022-03-18 14:51] #513 closed

[2022-03-23 15:36] insanemal commented on #511
Have you lodged this bug against the Arch packages? I'm trying to find it

[2022-03-26 04:10] GenocideStomper commented on #511
@thegamingrestoration Thank you for investigating! Can you link the forum post or bug report so I can track this issue?

[2022-03-26 05:15] jailuthra commented on #511
Here's the bug report on Arch https://bugs.archlinux.org/task/74211

And I believe Vulkan is already on top of it https://github.com/KhronosGroup/Vulkan-Loader/issues/894

[2022-03-27 03:59] Rakeen70210 opened #516 "Flatpak NvFBC Fail to Patch"
I'm running Garuda linux with the flatpak version of OBS. When I try to run either of the patch commands I get the following error:

`WARNING: Flatpak flag enabled (-f), modifying ONLY the Flatpak driver.
Detected nvidia driver version: 510.54
ERROR: Flatpak package for driver 510.54 does not appear to be installed.
Try rebooting your computer and/or running 'flatpak update'.
`
I have verified tha

[2022-03-31 00:05] h0m3 commented on #511
For what i'm reading in the (vulkan-thread)[https://github.com/KhronosGroup/Vulkan-Loader/issues/894] it looks like a nvidia driver issue.

I'm honestly not qualified to really understand but being a nvidia driver issue its possible to nvidia-patch to temporarely fix the issue as an nvidia-patch improvement instead of a nvidia-patch bug?

[2022-03-31 13:40] Iglu47 commented on #511
I see that patch-fbc.sh has the same "patches" for 460 and above. If all these versions have the same `libnvidia-fbc.so` with the same hashsum, then this change to bump `apiVersion` on 510.60.02 should apply correctly for all these versions.
`objdump -d libnvidia-fbc.so`
[code]
It is necessary to change the data starting at 12d28.
`12d28:	00 00 40 00` apiVersion 1.0.0
`12d28:	00 10 40 00` apiVersi

[2022-03-31 14:01] Iglu47 commented on #511
The problem is that the latest versions of vk-loader 1.3.204 and above do a more correct check and allow to use those layers that are approved for the apiVersion that the application itself requesting/transmitting. In theory it should be safe to bump minimal apiVersion since the 510 driver itself already provides support for vulkan api 1.3.

[2022-03-31 14:02] Iglu47 commented on #511
The problem is that the latest versions of vk-loader 1.3.204 and above do a more correct check and allow to use those layers that are approved for the apiVersion that the application itself requesting/transmitting. In theory it should be safe to bump minimal apiVersion since the 510 driver itself already should provides support for vulkan api 1.3.

[2022-03-31 14:08] Iglu47 commented on #511
The problem is that the latest versions of vk-loader 1.3.204 and above do a more correct check and allow to use those layers that are approved for the apiVersion that the application itself requesting/transmitting. In theory it should be safe to bump minimal apiVersion since the 510 driver itself already should provides support for vulkan api 1.3.
But the correct official fix from nvidia's side wo

[2022-03-31 14:09] Iglu47 commented on #511
The problem is that the latest versions of vk-loader 1.3.204 and above do a more correct check and allow to use those layers that are approved for the apiVersion that the application itself requesting/transmitting. In theory it should be safe to bump minimal apiVersion since the 510 driver itself already should provides support for vulkan api 1.3.
But the correct official fix from nvidia's side wo

[2022-04-09 23:40] guihkx commented on #516
Please provide the output of:

[code]

And:

[code]

[2022-04-10 17:25] jeremypsl commented on #453
Is Windows 11 still not supported ?

[2022-04-11 08:18] serossi commented on #516
issue is in ldconfig

line 352 in the patch-fbc

sha1sum "${PATCH_OUTPUT_DIR-$driver_dir}/$object.$driver_version"
    ldconfig
    echo "Patched!"

change to

    sudo ldconfig

thats it. ldconfig needs elevated rights, but you cant start the script with sudo or its in the wrong context.
all you need is sudo for ldconfig anyway

[2022-04-13 06:36] serossi commented on #516
done

[2022-04-13 06:40] guihkx commented on #516
I honestly don't think that's the problem, nor the solution.

We are supposed to run the script as root, so any program running within the script will be elevated as well.

[2022-04-13 07:00] guihkx commented on #516
To me, this specific issue is probably due to some Linux distros installing the Flatpak NVIDIA driver user-wide instead of system-wide, so when you run the script as root, the `flatpak` command will be elevated and will try to search the driver in either `/var/lib/flatpak` or `/root/.local/share/flatpak` (IIRC), but because the actual installation path is in `/home/john/.local/share`, no driver wi

[2022-04-13 08:37] serossi commented on #516
it is the problem and it is the solution.
it is testet as such, ofc i assume you have write permissions as user for /opt/nvidia

it is not correct to run the script as root at all. many distros run now userbased, so you will always be in the wrong context.
in such running the script as root will fail.

simple solution

1. at write for everyone for the /opt/nvidia
2. invoke ldconfig as sudo

if you

[2022-04-13 09:22] guihkx commented on #516
I'm not sure I agree:

Why would you even assume that, though? No distro out there gives write permission for regular users to `/opt`.

There's nothing wrong with running the script as root per se, but I somewhat agree that it'd be nicer not having to. The problems I see with your current solution - assuming the script is now meant to run without elevated privileges -, is that it currently doesn't

[2022-04-13 09:56] serossi commented on #516
no it doesnt,
i have it running perfectly fine. all i did is give write permissions to /opt/nvidia and add sudo for the call to ldconfig

after that everythind ran fine within usercontext and flatpack was patched and it works as testet with obs nvfbc

[2022-04-23 03:49] sloke123 opened #518 "Plex Hardware Encoding issue on 1050ti..."
Hello,
   I’ve installed the patched driver(512.15) successfully on Windows 10 pro. I tested on six simultaneous streams. Plex can hardware decode over three streams but unfortunately can’t encode not over three. Here is the screenshot.
![screencapture-localhost-8181-home-2022-04-22-03_55_23](https://user-images.githubusercontent.com/31745181/164873773-f3463869-6a25-45e7-a7dd-e6bdfc9b1814.jpg)
Gre

[2022-04-23 21:46] sloke123 commented on #518
Sorry, It is all my fault. I didn't path the 32bit DLL file. I thought it is a 64bit operating system, so I don't need that. But patching both files solves the issue.

[2022-04-23 21:46] #518 closed

[2022-04-25 01:42] mcfalld opened #519 "will the 3080 patch work for a 3080ti?"
Hello,
I don't see anything for the 3080ti, would the patch for the 3080 work for it?

[2022-04-27 01:47] mcfalld commented on #519
awesome thanks for the info, will i need to stop updating my graphics driver after the patch?

[2022-04-27 02:22] PAI5REECHO opened #520 "Add an automated Windows installer in order to get this into to winget-pkgs?"
Sorry, this isn't really a question but more of a feature request...

Adding an installer that would install a patching and unpatching program as well as applying all applicable patches upon initial installation and adding said installer to [winget-pkgs](https://github.com/microsoft/winget-pkgs) would save a lot of time for users. In order to add this to winget-pkgs it'd need some form of installe

[2022-04-28 11:45] JayRovacsek opened #521 "New driver support (version 510.68.02)"
- Nvidia driver version: 510.68.02
- GPU Model: GTX 1060
- OS: NixOS 22.05
- [x] I'm willing to participate in testing of new patch version

Looks like the new patch has only been out a day or two - have made the assumption that given the [described changeset](https://www.nvidia.com/download/driverResults.aspx/187526/en-us) the previous 510.60.02 patch will likely be fine and have already rebuild

[2022-04-29 00:53] Jaybonaut commented on #521
You mean version 512.59?

[2022-04-29 05:22] jailuthra commented on #521
@JayRovacsek can you send a PR if the older patch for 510.60.02 worked for you?

[2022-04-30 04:53] aklsh commented on #521
@JayRovacsek yes, the patch for 510.60.02 worked for 510.68.02. I haven't tried out the NvFBC patch yet. Will try it and make a PR.

[2022-04-30 06:15] JayRovacsek commented on #521
Hey all, apologies for the slow reply; that would be awesome thanks @aklsh 😍 - I also haven't tested the NvFBC patch for this version but can confirm again that version [510.60.02](https://github.com/JayRovacsek/nix-config/blob/a92a3fd7eb8c0e756585fcf91eeb87fa4e891da9/modules/nvidia/nvenc-unlock.nix#L173) patch appears to work against [510.68.02](https://github.com/JayRovacsek/nix-config/blob/a92a

[2022-04-30 08:15] debian-user-france1 opened #523 "Error: Invalid external buffer capabilities"
**Describe the bug**
I used patch.sh to patch  it for gpu-screen-recorder but it says now: `Error: Invalid external buffer capabilities
`
**Expected behavior**
It should work.

**Output listings**
./patch.sh first didn't work so I ran patch-fbc.sh and even after a reboot this happens now.

**Environment (please complete the following information):**
 - OS: Manjaro
 - GPU model: NVIDIA GeForce GTX

[2022-04-30 08:25] debian-user-france1 commented on #523
#511

[2022-04-30 10:47] Iglu47 commented on #523
this already fixed in nvidia-driver 510.68.02
while you wait for this version in your distribution, you can just use this patch as a temporary workaround
`sudo sed -i 's/\xc7\x84\x24\xfc\x01\x00\x00\x00\x00\x40\x00/\xc7\x84\x24\xfc\x01\x00\x00\x00\x10\x40\x00/' '/usr/lib/libnvidia-fbc.so.510.60.02'`

[2022-04-30 10:51] #521 closed

[2022-04-30 10:53] jailuthra commented on #519
@mcfalld you can still update drivers, but don't update immediately when a new release is out - as sometimes getting a new patch out takes a while.

[2022-04-30 10:53] #519 closed

[2022-04-30 15:54] #523 closed

[2022-05-08 02:31] WoodburyMan opened #524 "New driver support (version 512.59)"
Nvidia driver version: 512.59 Studio
GPU Model: 1050 Ti and 3080
OS: Windows 10 21H2 & Windows 11 21H2
 I'm willing to participate in testing of new patch version

[2022-05-08 13:17] jailuthra commented on #524
@WoodburyMan can you test #524? If it works I'll merge.

[2022-05-10 11:06] reloxx13 commented on #524
[patch files](https://github.com/keylase/nvidia-patch/tree/917994f64eba90f97b0babc743b08a8c121daea6/win/win10_x64)

[2022-05-11 01:35] WoodburyMan commented on #524
Tested, good to go!

[2022-05-11 03:49] #524 closed

[2022-05-13 07:41] jeremypsl commented on #453
No one try it on W11 ?
Is W11 works different from W10 ?

[2022-05-13 07:53] jsho2039 opened #527 "Can Jetson use nvfbc?"
In the case of x86_64, it was confirmed that Capture SDK works normally through nvfbc-patch even with Geforce GPU.

Has anyone done this on jetson xavier?

[2022-05-13 10:27] Centterm opened #528 "New driver support (version 515.43.04)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 515.43
- GPU Model: 1660 TI
- OS: Ubuntu 20.04
- [x] I'm willing to participate in testing of new patch version

This is the version the new cuda 11.7 ships per default. Support would be appreciated.

[2022-05-13 10:34] Centterm commented on #528
I just saw the PR https://github.com/keylase/nvidia-patch/pull/526/files which I have tested and it does **not** seems to work for me!

[2022-05-14 06:26] jailuthra commented on #528
@Centterm can you test #529 for nvenc? I've updated with the latest bytecode.

[2022-05-14 07:07] #512 closed

[2022-05-14 07:08] jailuthra commented on #453
Unassigning myself, if someone from the community wants to pick this up, please go ahead!

[2022-05-14 07:11] LionHeartP commented on #528
Confirmed it works but there is a typo on the .so line looking for a 510 driver instead. Here's the multiple ffmpeg NVENC stream start that confirms I can open 4 different sessions.
`fmpeg -y -vsync 0 -hwaccel cuda -hwaccel_output_format cuda \
-f lavfi -i testsrc -t 50 \
-vf hwupload -c:a copy -c:v h264_nvenc -b:v 4M -f null - \
-vf hwupload -c:a copy -c:v h264_nvenc -b:v 1M -f null - \
-vf hwupl

[2022-05-14 07:21] jailuthra commented on #528
@LionHeartP thanks for testing and pointing out the typo. Will fix and merge!

[2022-05-14 07:33] #528 closed

[2022-05-15 11:47] custom90gt commented on #453
I can confirm that it does not allow more than two streams on windows 11 in its current state.  It would be awesome if someone could get this working on Win 11.

[2022-05-18 07:17] Zanthed opened #532 "New driver support (version 512.77)"
- Nvidia driver version: 512.77
- GPU Model: RTX 3080 and GTX 1070
- OS: Windows 11 Enterprise
- [x] I'm willing to participate in testing of new patch version

[2022-05-18 07:31] jailuthra commented on #532
@Zanthed can you test #530

[2022-05-18 07:32] Zanthed commented on #532
Sure.

[2022-05-18 07:42] Zanthed commented on #532
@jailuthra OBS recording with NVENC works, NVIDIA Broadcast works, and GeForce Experience works. I can't do extensive testing, but nothing is crashing and burning either.

[2022-05-18 07:44] jailuthra commented on #532
Thanks for testing @Zanthed - will merge.

[2022-05-18 07:44] #532 closed

[2022-05-18 11:16] Foexle11 opened #533 "New driver support (version 510.73.05)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: [510.73.05-0ubuntu0.20.04.1]
- GPU Model: [RTX 2070 Super]
- OS: [Linux Mint Cinnamon 20.3]
- [x] I'm willing to participate in testing of new patch version (of cause ^^)

[2022-05-18 16:03] jailuthra commented on #533
@Foexle11 let me know if #534 works for you!

[2022-05-18 16:21] arifwn commented on #533
@Foexle11 #534 is working on my system (510.73.05, ubuntu 20.04.1, GTX 1650). NVENC/NvFBC with Sunshine is working.

[2022-05-18 16:58] #533 closed

[2022-05-24 16:23] jailuthra commented on #532
@reloxx13 you're right, he didn't actually test if the patch did its job, but i still merged it because i don't have a nvidia machine anymore to test any patches with.

the idea is to get a patch merged in master as long as it doesn't break the driver. if the patch doesn't do actually remove the limit someone will report it. most people just clone from master (or worse the ipfs link which is even

[2022-05-24 22:01] Zanthed commented on #532
I explicitly said I could not do extensive testing (which was ignored) and the only thing I tested was it basic things worked. I even unchecked the box to participate in testing, but it was (also) ignored and asked to test anyways.

There are no guidelines on how to test patches either. If you want proper testing done, then consider meeting people half way and giving us guidelines or instructions.

[2022-05-30 10:58] Jaybonaut opened #538 "512.95 DCH possible issues"
Hi,

I use this for Plex.  I notice when I watch in Tautulli it takes a few seconds to switch to (HW) that I have never noticed before.

I also notice that Task Manager (Windows 10) no longer shows GPU or GPU engine as a processes tab.

I downloaded the [https://international.download.nvidia.com/Windows/512.95/512.95-desktop-win10-win11-64bit-international-dch-whql.exe](url) and also patched it us

[2022-05-30 11:00] Jaybonaut commented on #538
Oh, I should mention I install it with Geforce Experience and always check the 'perform a clean install' option.

[2022-05-30 22:04] Jaybonaut commented on #538
I should clarify that I can click on the GPU and see that, but I am talking about the processes tab.

What it should look like:
https://i.imgur.com/hImyFFx.jpg

What I am now seeing:
https://i.imgur.com/ccgi4rF.jpg

I also stated that it does show as (HW) but it takes a few seconds - as in, it shows it as transcoding via CPU and then a few seconds later it adds the (HW) which I never noticed befor

[2022-05-31 06:58] reloxx13 commented on #538
do a rightclick and re-enable the rows....

what tautulli does, shows and prooves nothing.

[2022-06-01 07:42] Curve opened #541 "New driver support (version 515.48.07)"
- Nvidia driver version: 515.48.07
- GPU Model: RTX 2060
- OS: Arch Linux
- [x] I'm willing to participate in testing of new patch version

[2022-06-02 17:08] jailuthra commented on #541
closed by #540

[2022-06-02 17:08] #541 closed

[2022-06-11 14:11] flashmasta commented on #453
Is there some documentation on finding the offset?  I would be happy to contribute to Win11 patches but I'm not sure where to start.

[2022-06-15 19:59] reloxx13 opened #544 "New driver support (version 516.40) - pattern not found"
The pattern has changed again :( autopatcher fails

[code]

[2022-06-17 18:28] reloxx13 commented on #544
would be kind if you can take a look @keylase

[2022-06-28 16:52] don17sch opened #546 "New driver support (version 516.59)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 516.59
- GPU Model: RTX 2070 Super
- OS: Windows 11 x64
- [x] I'm willing to participate in testing of new patch version

[2022-06-28 17:40] reloxx13 commented on #546
same as https://github.com/keylase/nvidia-patch/issues/544

[2022-06-29 16:52] jailuthra commented on #544
@reloxx13 can you test #547?

[2022-06-29 17:57] reloxx13 commented on #544
hey @jailuthra

looks fine, thank you very much!

can you open the wiki for edit? i wanted to add the windows command for patch testing

ffmpeg download https://www.gyan.dev/ffmpeg/builds/ffmpeg-git-full.7z

[code]

![grafik](https://user-images.githubusercontent.com/14855001/176503179-35690ed4-b94a-410a-92e9-a3c1dc41de08.png)

[2022-06-29 20:19] #544 closed

[2022-06-29 20:19] #546 closed

[2022-06-29 20:33] jailuthra commented on #544
@reloxx13 i don’t have permission to open the wiki, i think only keylase does. but i’m able to edit so i’ll add it

[2022-07-04 09:38] ShauwThen opened #548 "Question: ... ?"
Hello,
Link for downloading are not working and I would like to try out this thing. Can you guys help me please ?
Thanks
ShauwThen

[2022-07-04 14:08] don17sch commented on #453
I tested the existing Windows patch for 516.59 using this method https://github.com/keylase/nvidia-patch/wiki/Verify-NVENC-patch

I was able to get it working with the current drivers and patches already released for windows 10 on this repo

[2022-07-06 21:59] Lissanro opened #549 "Nvidia Experience automatically uninstalls Nvidia Driver when detects patched files (Windows 11)"
**Describe the bug**
Nvidia Experience uninstalls Nvidia Driver when detects modified files.

**To Reproduce**
Steps to reproduce the behavior:
1. Install 512.59 Studio Driver or 516.59 DCH driver, and patch it.
2. Run Nvidia Experience and in Shield tab add mstsc.exe or any other executable.
3. Try to connect via Moonlight or any other compatible app. Instead of starting streaming, Nvidia driver

[2022-07-06 22:44] Lissanro commented on #549
Nevermind. I thought I imported
https://github.com/keylase/nvidia-patch/blob/master/win/skip_sig_check/skip_sig_check.reg
but apparently something rolled changes back in the registry (restore point maybe, and I forgot to import again). After reimporting the reg file, everything started working as expected.

[2022-07-06 22:45] #549 closed

[2022-07-08 21:25] peliopoulos opened #550 "Window Artefacts - 1660 Super, Ubuntu 20.04, 515.57 drivers"
Window artefacts after I apply the patch (windows not clearing  when I switch apps or move windows)

Steps to reproduce the behavior:
1. bash ./patch.sh
2. close window, switch windows of move windows (occurs a few minutes after applying patch)

 - OS: Ubuntu 20.04
 - GPU model: GTS 1660 Super
 - Patch commit used: not sure, is it this one? d23260bdee7982be422071ab45e1bb11c8fe2daf
 - Nvidia driver

[2022-07-10 09:53] jailuthra commented on #550
Can someone else try and reproduce this issue?

I highly doubt graphics/window rendering pipeline has anything to do with changing a single conditional in the encode driver.

FWIW I've faced artefacts and window glitches on linux with nvidia drivers in general, even unpatched.

[2022-07-15 05:39] Espionage724 commented on #453
I can also confirm the patch from this repo works on Windows 11 (22000.795) with driver 512.77. The ffmpeg test works, and Oculus Link works fine too.

[2022-07-15 19:14] jailuthra commented on #453
Thanks for testing. Will update the readme to make it clearer that win10/win11 are both supported.

[2022-07-15 19:14] #453 closed

[2022-07-23 17:47] reloxx13 commented on #550
Even if it is caused by the patch, i dont think that we can do sth about it.
Its more like something in nvidias code (or the window manager programm or the ubunut ui) acting stange when the limit is unlocked.

[2022-07-23 20:45] peliopoulos commented on #550
I tried removing the patch and the artefacts still appear even with new drivers. I didn't realize what a hot mess nVidia drivers are on Linux.  Thanks for looking at my issue!

[2022-07-23 20:45] #550 closed

[2022-07-28 14:19] WoodburyMan opened #552 "New driver support (version 516.93 Studio)"
- Nvidia driver version: 516.93 Studio Driver
- GPU Model: RTX 3080 /  GTX 1050 Ti
- OS: Windows 11 / Windows 10
- I'm willing to participate in testing of new patch version

[2022-08-03 08:02] Corben78 opened #554 "New driver support (version 515.65.01)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: 515.65.01
- GPU Model: RTX 3070
- OS: Ubunut 20.04 LTS
- [x] I'm willing to participate in testing of new patch version

[2022-08-03 08:24] Corben78 commented on #554
Can be closed when https://github.com/keylase/nvidia-patch/pull/553 gets merged.
Tested in OBS with obs nvfbc plugin and nvfbc capture seems to work fine.

[2022-08-03 14:33] #554 closed

[2022-08-03 16:42] jailuthra commented on #552
@WoodburyMan can you test if #555 removes the encoder limit for you? Steps [here](https://github.com/keylase/nvidia-patch/wiki/Verify-NVENC-patch#windows)

[2022-08-03 17:42] don17sch opened #558 "Question: How to test NvFBC on Windows ?"
NvFBC does not work in the windows version of OBS
Is there any other way to test if NvFBC is enabled on windows?

[2022-08-13 13:03] #552 closed

[2022-08-21 08:59] ASOwnerYT opened #560 "ERROR: cannot detect driver directory"
**Describe the bug**
When I run `sudo ./patch-fbc.sh` I get this error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository
2. Run `sudo ./patch-fbc.sh`
3. Get error

**Environment (please complete the following information):**
 - OS: Nobara 36 (based on Fedora 36)
 - GPU model: GTX 1050 (mobile)
 - Patch commit used: Latest on master branch (86e009af74a31c3d31e64fdc4

[2022-08-24 10:11] mpisat commented on #560
I also have the same issue when I use driver from ubuntu APT.

[2022-08-25 15:02] monitor-ap commented on #560
Running into this too. Running Ubuntu 20.04 both patches report ERROR: cannot detect driver directory. Worked fine on a server with the exact same setup 2 days ago.

[2022-08-29 22:27] doctorpangloss commented on #427
As an update, I have successfully patched these files by taking permissions of them.

[2022-09-01 19:09] AlmightyJojo opened #561 "Question: Remote Desktop NVENC sessions?"
Hi,

Server 2022 RDS session server.
GTX 1650 - Windows 10 516.93 Studio driver
Patch tested with - https://github.com/keylase/nvidia-patch/wiki/Verify-NVENC-patch#windows

nvidia-smi.exe --query-gpu=encoder.stats.sessionCount --format=csv,noheader -i 0"
Output = 4

RDP still appears to cap out at 3 sessions - 4th RDP client not accelerated.
Any ideas?  RDP utilizing NVENC in an alternative way to

[2022-09-02 09:06] jailuthra commented on #561
Hmm not sure, do you know if windows RDP server code is open source?

I'm guessing it has an extra condition somewhere, limiting to accelerate only 3 sessions and falling back to software encoding on 4th.

[2022-09-02 19:37] AlmightyJojo commented on #561
Its closed source.
Yeah it appears the NVENC is being called upon indirectly by RDSH server.  I've seen it mentioned around that NVENC can be accessed directly or indirectly via DX12?  Or other APIs?

What I do know is that the patch does appear to work.  I've spun up 8 NVENC sessions simultaneously with ffmpeg.
I've also used nvidia-smi.exe --query-gpu=encoder.stats.sessionCount --format=csv,nohe

[2022-09-02 19:56] AlmightyJojo commented on #561
https://enterprise-support.nvidia.com/s/article/Lower-2D-graphics-performance-on-Windows-Server-2019-when-compared-to-Windows-Server-2016

_When hardware acceleration is enabled on Windows Server 2016, RDP does not use NVIDIA hardware-based video encoder (NVENC). Use of NVENC was introduced with Windows Server 2019.

When NVENC is in use, the NVIDIA graphics driver uses the Copy engine and 3D grap

[2022-09-03 05:33] JustAHippo opened #562 "Issues with driver 512.77(x86)!"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Download DHC 512.77 and run install(i have a 3060)
2. Run patcher on 64 bit(works)
3.  Run patcher on SysWOW64 DLL with appropriate 1337
4. "Problem occurred when Patching..."

**Expected behavior**
A clear and concise description of what you expected to happen.
Patch succ

[2022-09-14 13:43] JoeITCanuck commented on #560
Same issue as well, but on an older driver even! I am running Debian 11 w/GTX 1650

Detected nvidia driver version: 470.141.03
ERROR: cannot detect driver directory

[2022-09-15 03:04] jailuthra commented on #560
Can someone check where fbc driver lib has moved to?

The script currently checks here:
https://github.com/keylase/nvidia-patch/blob/a8325ee950b1bdb5bb46b0607199134d8c718f53/patch-fbc.sh#L322-L327

[2022-09-17 05:06] wael444 opened #564 "Question: Is it possible to use NvFBC with FFmpeg?"
Hello,

My question is: Is it possible to use NvFBC with FFmpeg?

I already use NVENC with FFmpeg and x11grab, but do i need OBS for NvFBC capability?

[2022-09-17 08:23] wael444 commented on #560
[code]

[2022-09-23 16:21] WoodburyMan opened #566 "New driver support 517.40 Studio Driver"
- Nvidia driver version: 517.40 Studio Driver
- GPU Model: RTX 3080 / GTX 1050 Ti
- OS: Windows 11 21H2 / 22H2
- [x] I'm willing to participate in testing of new patch version

[2022-09-27 14:05] #560 closed

[2022-09-27 14:10] jailuthra commented on #564
I don't believe so. But please ask on ffmpeg forums, this is not the best place for generic queries about ffmpeg/nvfbc :)

[2022-09-27 14:10] #564 closed

[2022-09-27 18:13] #562 closed

[2022-09-27 18:19] jailuthra commented on #520
@reloxx13 i don't know if im dumb but i don't see an option. do you know how to make issues sticky?

[2022-09-27 19:01] reloxx13 commented on #520
all the way down in the right sidebar

![grafik](https://user-images.githubusercontent.com/14855001/192613245-c3bbfe3f-3af4-4ee7-9649-15d1cae95ef2.png)

[2022-10-01 04:12] #566 closed

[2022-10-01 10:18] DeeJayMX opened #570 "Not Working on RTX 3060 Mobile"
Patching NVenc 32 & 64 bits as it is explained on the Win page, restart program like vMix, restart the computer...

But the patch is not working, It's staying at 3 concurrent encoding. Tested with vMix SRT Output.

If I choose 3 hardware encoder and 1 software encoder it works...

The error is linked with D3D when the 4th encoder is trying to initiate.

[2022-10-03 15:06] reloxx13 commented on #570
pls try it with ffmepg, normal rtx3060 is working, i dont think there is a driver difference.

https://github.com/keylase/nvidia-patch/wiki/Verify-NVENC-patch

[2022-10-07 01:23] troykelly opened #571 "New driver support (version 520.56.06)"
**Please provide details about your environment (please complete the following information)**
- ~~Nvidia driver version: 520.61.05~~
- Required for 520.61.05 (Bundled [CUDA](https://developer.nvidia.com/cuda-downloads?target_os=Linux&target_arch=x86_64&Distribution=Ubuntu&target_version=22.04&target_type=runfile_local))
- Nvidia driver version 520.56.06 - @jailuthra
- GPU Model: NVIDIA GeForce RTX

[2022-10-07 01:24] troykelly commented on #571
Have tested the same patch for 515.76, but that does not work
[code]

[2022-10-07 07:42] githubbapoopa opened #572 "Does the nvEncodeAPI64.dll have to be replaced again after each boot?"
Does the nvEncodeAPI64.dll have to be replaced after each boot on Windows as stated here?:

https://forum.robotflow.ai/t/how-to-crack-nvidias-nvenc-video-encoding-sessions-limit/45

If so, why is there no info on the main page?

People patch the files in good faith and think it's all done....

[2022-10-07 09:01] jailuthra commented on #572
Can you test if that is actually the case? Try applying patch, [test if session limit is removed](https://github.com/keylase/nvidia-patch/wiki/Verify-NVENC-patch) then reboot and test again.

I have not seen this behaviour before but I have not actually tested on windows since a while.

[2022-10-09 04:41] ValZapod commented on #261
Guys, can we support fork of looking glass with support for nvfbc?

[2022-10-09 20:56] Snawoot commented on #261
@ValZapod

Unlikely anyone will answer. I'm not maintaining this project anymore, but was still subscribed to this issue. Create new issue with your question to ask new maintainer.

[2022-10-12 16:05] mirolm commented on #571
I can second that - the patch does not work with 520.56.06 driver.

[2022-10-13 15:10] reloxx13 commented on #572
nooo, not needed after reboot.

The test is optional.

[2022-10-14 08:07] Strykar commented on #571
Will this version (`520.56.06`) not be supported?

[2022-10-15 07:57] jailuthra commented on #571
Won't fix 520.61.05 as that is already out of date https://github.com/NVIDIA/open-gpu-kernel-modules/releases

Found the new bytecode for latest release (520.56.06) instead - Please test #574

[2022-10-15 08:06] jailuthra commented on #572
Added link to the test in win readme #575

[2022-10-15 08:06] #572 closed

[2022-10-15 09:37] troykelly commented on #571
@jailuthra Would it be possible to reconsider the `wontfix`?
The version requested here is the bundled version from the [CUDA toolkit](https://developer.nvidia.com/cuda-downloads?target_os=Linux&target_arch=x86_64&Distribution=Ubuntu&target_version=22.04&target_type=runfile_local).

[2022-10-15 10:49] jailuthra commented on #571
@troykelly if the bytecode is same then sure I can add support for the cuda toolkit version as well. I'm 99% sure it is the same (found the exact sequence via grep), but please test and let me know - or send a PR :)

[2022-10-15 10:51] troykelly commented on #571
Is the assumption that `520.61.05` will use the same as `520.56.06`?

[2022-10-15 10:52] jailuthra commented on #571
Not just an assumption, I see the exact sequence of bytes for the function that limits nvenc sessions in both these versions. Just need someone to try running the patch.sh and confirm it works (instructions to test are in the wiki)

[2022-10-15 12:17] jailuthra commented on #571
FYI I've updated the existing PR with both versions.

[2022-10-15 19:07] mirolm commented on #571
Checked 520.61.05 nvenc and it works as intended. Cannot check the fbc patch tho.

[2022-10-16 03:31] #571 closed

[2022-10-18 21:25] compmaster1231 opened #576 "High GPU usage when enabled on 4090"
Is anyone else seeing High GPU usage around 60% to 100% for Desktop Windows manager? Just purchased the 4090 and I am on Windows 11. I installed the latest drivers (522.25) and patched with no problem. When I restarted the computer my GPU usage was fine, but when I enable the script to override the maximum two transcodes it causes the GPU to spike anywhere between 60 and 90% constant. Thank you!

[2022-10-18 23:01] compmaster1231 commented on #576
Change Windows 11 visual effects to Performance minimized the issue

[2022-10-18 23:01] #576 closed

[2022-10-18 23:01] compmaster1231 commented on #576
See above

[2022-10-31 08:45] cp3oDOTcom opened #578 "New driver support (version 522.30-nsd)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: [522.30-nsd]
- GPU Model: [RTX 3090]
- OS: [Win10_x64]
- [x] I'm willing to participate in testing of new patch version

[2022-11-01 10:20] jailuthra commented on #578
@cp3oDOTcom can you test if #579 removes the encoder limit for you?

https://github.com/keylase/nvidia-patch/wiki/Verify-NVENC-patch#windows

[2022-11-01 12:28] cp3oDOTcom commented on #578
Works Great - Thank You So Much...

![C__WINDOWS_system32_cmd exe 11_1_2022 7_26_50 AM](https://user-images.githubusercontent.com/47932865/199232161-b9c011c7-3531-4117-b0b3-1bb1eca9accd.png)

[2022-11-01 12:28] #578 closed

[2022-11-23 19:46] dougbillings opened #582 "Getting 504 during git clone. Unable to download patch 11/23/2022"
Hello,

More of a notification than a question: I am getting a 504 during git clone. Unable to download patch 11/23/2022.

path: git clone https://ipfs.io/ipns/Qmed4r8yrBP162WK1ybd1DJWhLUi4t6mGuBoB9fLtjxR7u nvidia-patch

[2022-11-23 19:48] dougbillings commented on #582
used main site and it worked. mirror is down

[2022-11-24 07:49] jailuthra commented on #582
I will be removing the mirror from the readme. The previous maintainer added it, and I don't plan to maintain it. If someone wants to volunteer with a new mirror please reach out.

[2022-11-24 07:57] #582 closed

[2022-11-24 18:22] cichy45 opened #585 "New driver support (version Quadro 526.67)"
- Nvidia driver version: R525 U1 (526.67)
- GPU Model: Quadro P400
- OS: Windows 10 64bit

I would like to ask for update to include newest Quadro drivers. They are required for support of newest FFMPEG version. Newest drivers 472.84 supported by this patch will give following error in FFMPEG when trying to test if unlock was successful:

[h264_nvenc @ 000001f87fa2e740] Driver does not support the

[2022-11-25 06:15] jailuthra commented on #585
@cichy45 Can you test #586? Steps to confirm > 3 encode streams work are here https://github.com/keylase/nvidia-patch/wiki/Verify-NVENC-patch

If it works I'll merge it!

[2022-11-25 08:03] cichy45 commented on #585
@jailuthra I can confirm it is working. Thank you for this patch.

[2022-11-25 09:28] #585 closed

[2022-11-25 20:29] olesalscheider opened #587 "Feature request: GPUDirect RDMA patch"
Officially GPUDirect RDMA is not available on GeForce cards. I'm not sure if that is a pure software limitation. But if it is it would be nice to have a patch to enable this functionality. Do you have any insight into that?

[2022-11-28 14:14] regbo opened #588 "Modify Docker section in Readme"
Hello,

I should have known this from the start, but the readme on this repo is unclear when it comes to docker. I read the docker section as a requirement, not as an alternative, if this patch can't be installed on the host. I would suggest changing:

to

[2022-11-28 18:26] mirolm opened #589 "New driver support (version 525.60.11)"
**Please provide details about your environment (please complete the following information)**
- Nvidia driver version: [525.60.11]
- GPU Model: [Quadro T600]
- OS: [Debian Buster 10.13 x64]
- [x] I'm willing to participate in testing of new patch version

[2022-11-29 17:20] mirolm commented on #589
Installed the driver and tested libnvidia-encode.so.525.60.11 patching. Works great without issues with the command from the wiki section.

Sadly cannot test the fbc patch.

[2022-11-29 17:55] #589 closed